/*

This file contains tests for properties.text-transform.full-width
<code>full-width</code>

properties.text-transform.full-width

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-transform.full-width: 0
*/
