/*

This file contains tests for properties.text-transform.full-size-kana
<code>full-size-kana</code>

properties.text-transform.full-size-kana

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-transform.full-size-kana: 0
*/
