/*

This file contains tests for properties.text-transform
No description provided

properties.text-transform

See: https://developer.mozilla.org/docs/Web/CSS/text-transform

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-transform: 0
*/
