/*

This file contains tests for properties.min-width.auto
<code>auto</code>

properties.min-width.auto

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.min-width.auto: 0
*/
