/*

This file contains tests for properties.min-width.max-content
<code>max-content</code>

properties.min-width.max-content

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.min-width.max-content: 0
*/
