/*

This file contains tests for at-rules.font-face.src.format_variations
<code>format('*-variations')</code>

at-rules.font-face.src.format_variations

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.font-face.src.format_variations: 0
*/
