/*

This file contains tests for at-rules.font-face.src.tech_keyword
<code>tech(keyword)</code>

at-rules.font-face.src.tech_keyword

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.font-face.src.tech_keyword: 0
*/
