/*

This file contains tests for properties.mask-image
No description provided

properties.mask-image

See: https://developer.mozilla.org/docs/Web/CSS/mask-image

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.mask-image: 0
*/
