/*

This file contains tests for properties.mask-image.svg_masks
SVG masks

properties.mask-image.svg_masks

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.mask-image.svg_masks: 0
*/
