/*

This file contains tests for properties.align-self.flex_context.stretch
<code>stretch</code>

properties.align-self.flex_context.stretch

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.align-self.flex_context.stretch: 0
*/
