/*

This file contains tests for types.image.gradient.repeating-linear-gradient
<code>repeating-linear-gradient()</code>

types.image.gradient.repeating-linear-gradient

See: https://developer.mozilla.org/docs/Web/CSS/gradient/repeating-linear-gradient

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.image.gradient.repeating-linear-gradient: 0
*/
