/*

This file contains tests for selectors.marker
<code>::marker</code>

selectors.marker

See: https://developer.mozilla.org/docs/Web/CSS/::marker

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.marker: 0
*/
