/*

This file contains tests for properties.display.contents.contents_unusual
Specific behavior of unusual elements when <code>display: contents</code> is applied to them

properties.display.contents.contents_unusual

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.display.contents.contents_unusual: 0
*/
