/* AUTO_GENERATED: true */

/* 
feature: properties.align-self.grid_context
Supported in Grid Layout

see: https://developer.mozilla.org/docs/Web/CSS/align-self
*/

/* sample that triggers the feature */
div {
align-self: flex-end;
grid-context: "grid";
}

/* sample that does not trigger the feature */
div {
align-self: flex-end;
}