/*

This file contains tests for selectors.selection
<code>::selection</code>

selectors.selection

See: https://developer.mozilla.org/docs/Web/CSS/::selection

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.selection: 0
*/
