/*

This file contains tests for selectors.selection.text-decoration
Supports the <code>text-decoration</code> property

selectors.selection.text-decoration

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.selection.text-decoration: 0
*/
