/*

This file contains tests for selectors.is.forgiving_selector_list
Support for forgiving selector list

selectors.is.forgiving_selector_list

See: https://developer.mozilla.org/docs/Web/CSS/:is#Forgiving_Selector_Parsing

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.is.forgiving_selector_list: 0
*/
