/*

This file contains tests for selectors.is
<code>:is()</code>

selectors.is

See: https://developer.mozilla.org/docs/Web/CSS/:is

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.is: 0
*/
