/* AUTO_GENERATED: true */

/* 
feature: properties.align-items.anchor-center
No description provided

see: https://developer.mozilla.org/docs/Web/CSS/align-items
*/

/* sample that triggers the feature */
align-items: anchor-center;

/* sample that does not trigger the feature */
align-items: center;