/*

This file contains tests for properties.overflow-y.clip
<code>clip</code> value

properties.overflow-y.clip

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.overflow-y.clip: 0
*/
