/*

This file contains tests for properties.transform-origin
No description provided

properties.transform-origin

See: https://developer.mozilla.org/docs/Web/CSS/transform-origin

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.transform-origin: 0
*/
