/*

This file contains tests for properties.transform-origin.support_in_svg
Support in SVG

properties.transform-origin.support_in_svg

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.transform-origin.support_in_svg: 0
*/
