/*

This file contains tests for properties.transform-origin.three_value_syntax
Three-value syntax

properties.transform-origin.three_value_syntax

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.transform-origin.three_value_syntax: 0
*/
