/*

This file contains tests for types.string
&lt;string&gt;

types.string

See: https://developer.mozilla.org/docs/Web/CSS/string

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.string: 0
*/
