/*

This file contains tests for types.string.unicode_escaped_characters
Unicode escaped characters (<code>\xx</code>)

types.string.unicode_escaped_characters

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.string.unicode_escaped_characters: 0
*/
