/*

This file contains tests for selectors.placeholder-shown
<code>:placeholder-shown</code>

selectors.placeholder-shown

See: https://developer.mozilla.org/docs/Web/CSS/:placeholder-shown

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.placeholder-shown: 0
*/
