/*

This file contains tests for selectors.placeholder-shown.non_text_types
Support on non-<code>type=&quot;text&quot;</code> elements (such as <code>type=&quot;number&quot;</code> or <code>type=&quot;time&quot;</code>)

selectors.placeholder-shown.non_text_types

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.placeholder-shown.non_text_types: 0
*/
