/*

This file contains tests for properties.unicode-bidi
No description provided

properties.unicode-bidi

See: https://developer.mozilla.org/docs/Web/CSS/unicode-bidi

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.unicode-bidi: 0
*/
