/*

This file contains tests for properties.unicode-bidi.isolate
<code>isolate</code>

properties.unicode-bidi.isolate

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.unicode-bidi.isolate: 0
*/
