/*

This file contains tests for properties.text-indent.hanging
<code>hanging</code>

properties.text-indent.hanging

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-indent.hanging: 0
*/
