/*

This file contains tests for properties.border-image-repeat.round
<code>round</code>

properties.border-image-repeat.round

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-image-repeat.round: 0
*/
