/*

This file contains tests for selectors.nth-child
<code>:nth-child()</code>

selectors.nth-child

See: https://developer.mozilla.org/docs/Web/CSS/:nth-child

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.nth-child: 0
*/
