/*

This file contains tests for selectors.nth-child.of_syntax
<code>of &lt;selector&gt;</code> syntax

selectors.nth-child.of_syntax

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.nth-child.of_syntax: 0
*/
