/*

This file contains tests for properties.text-wrap.balance
<code>balance</code>

properties.text-wrap.balance

See: https://developer.mozilla.org/docs/Web/CSS/text-wrap#balance

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-wrap.balance: 0
*/
