/*

This file contains tests for properties.text-wrap.wrap
<code>wrap</code>

properties.text-wrap.wrap

See: https://developer.mozilla.org/docs/Web/CSS/text-wrap#wrap

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-wrap.wrap: 0
*/
