/*

This file contains tests for properties.text-emphasis-position.left_and_right
<code>left</code> and <code>right</code>

properties.text-emphasis-position.left_and_right

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-emphasis-position.left_and_right: 0
*/
