/*

This file contains tests for properties.text-emphasis-position.over
No description provided

properties.text-emphasis-position.over

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-emphasis-position.over: 0
*/
