/*

This file contains tests for properties.text-size-adjust
No description provided

properties.text-size-adjust

See: https://developer.mozilla.org/docs/Web/CSS/text-size-adjust

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-size-adjust: 0
*/
