/*

This file contains tests for properties.break-after.avoid-page
No description provided

properties.break-after.avoid-page

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.break-after.avoid-page: 0
*/
