/*

This file contains tests for properties.break-after
No description provided

properties.break-after

See: https://developer.mozilla.org/docs/Web/CSS/break-after

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.break-after: 0
*/
