/*

This file contains tests for properties.background-position-y
No description provided

properties.background-position-y

See: https://developer.mozilla.org/docs/Web/CSS/background-position-y

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-position-y: 0
*/
