/*

This file contains tests for properties.background-position-y.side-relative_values
Side-relative values (such as <code>bottom 10%</code>)

properties.background-position-y.side-relative_values

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-position-y.side-relative_values: 0
*/
