/*

This file contains tests for selectors.scope.dom_api
Support in DOM API such as in <code>querySelector()</code> and <code>querySelectorAll()</code>

selectors.scope.dom_api

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.scope.dom_api: 0
*/
