/*

This file contains tests for properties.ruby-position.alternate
<code>alternate</code>

properties.ruby-position.alternate

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.ruby-position.alternate: 0
*/
