/*

This file contains tests for properties.flex-grow
No description provided

properties.flex-grow

See: https://developer.mozilla.org/docs/Web/CSS/flex-grow

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.flex-grow: 0
*/
