/*

This file contains tests for properties.flex-grow.less_than_zero_animate
&lt;0 animate

properties.flex-grow.less_than_zero_animate

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.flex-grow.less_than_zero_animate: 0
*/
