/*

This file contains tests for properties.animation-timeline.scroll
<code>scroll()</code>

properties.animation-timeline.scroll

See: https://developer.mozilla.org/docs/Web/CSS/animation-timeline/scroll

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation-timeline.scroll: 0
*/
