/*

This file contains tests for properties.animation-timeline.view
<code>view()</code>

properties.animation-timeline.view

See: https://developer.mozilla.org/docs/Web/CSS/animation-timeline/view

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation-timeline.view: 0
*/
