/*

This file contains tests for selectors.active.non_a_elements
Non-<code>a</code> element support

selectors.active.non_a_elements

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.active.non_a_elements: 0
*/
