/*

This file contains tests for types.attr.type-or-unit
&lt;type-or-unit&gt;

types.attr.type-or-unit

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.attr.type-or-unit: 0
*/
