/*

This file contains tests for types.basic-shape.path.clip-path
In <code>clip-path</code>

types.basic-shape.path.clip-path

See: https://developer.mozilla.org/docs/Web/CSS/clip-path

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.basic-shape.path.clip-path: 0
*/
