/*

This file contains tests for types.basic-shape.path.d
In <code>d</code> as CSS property

types.basic-shape.path.d

See: https://developer.mozilla.org/docs/Web/SVG/Attribute/d#using_d_as_a_css_property

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.basic-shape.path.d: 0
*/
