/*

This file contains tests for types.basic-shape.path.shape-outside
In <code>shape-outside</code>

types.basic-shape.path.shape-outside

See: https://developer.mozilla.org/docs/Web/CSS/shape-outside

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.basic-shape.path.shape-outside: 0
*/
