/*

This file contains tests for properties.transition-timing-function
No description provided

properties.transition-timing-function

See: https://developer.mozilla.org/docs/Web/CSS/transition-timing-function

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.transition-timing-function: 0
*/
