/*

This file contains tests for properties.justify-content.flex_context.space-evenly
<code>space-evenly</code>

properties.justify-content.flex_context.space-evenly

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.justify-content.flex_context.space-evenly: 0
*/
