/*

This file contains tests for properties.justify-content.flex_context.start_end
<code>start</code> and <code>end</code>

properties.justify-content.flex_context.start_end

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.justify-content.flex_context.start_end: 0
*/
