/*

This file contains tests for properties.transform-box.content-box
No description provided

properties.transform-box.content-box

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.transform-box.content-box: 0
*/
