/*

This file contains tests for properties.transform-box
No description provided

properties.transform-box

See: https://developer.mozilla.org/docs/Web/CSS/transform-box

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.transform-box: 0
*/
