/*

This file contains tests for types.basic-shape.animation
Animation

types.basic-shape.animation

See: https://developer.mozilla.org/docs/Web/CSS/basic-shape#Interpolation_of_basic_shapes

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.basic-shape.animation: 0
*/
