/*

This file contains tests for types.basic-shape.ellipse
<code>ellipse()</code>

types.basic-shape.ellipse

See: https://developer.mozilla.org/docs/Web/CSS/basic-shape/ellipse

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.basic-shape.ellipse: 0
*/
