/*

This file contains tests for types.basic-shape.polygon
<code>polygon()</code>

types.basic-shape.polygon

See: https://developer.mozilla.org/docs/Web/CSS/basic-shape/polygon

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.basic-shape.polygon: 0
*/
