/*

This file contains tests for types.basic-shape.xywh
<code>xywh()</code>

types.basic-shape.xywh

See: https://developer.mozilla.org/docs/Web/CSS/basic-shape/xywh

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.basic-shape.xywh: 0
*/
