/*

This file contains tests for selectors.-moz-range-track
<code>::-moz-range-track</code>

selectors.-moz-range-track

See: https://developer.mozilla.org/docs/Web/CSS/::-moz-range-track

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-moz-range-track: 0
*/
