/*

This file contains tests for selectors.-moz-window-inactive
<code>:-moz-window-inactive</code>

selectors.-moz-window-inactive

See: https://developer.mozilla.org/docs/Web/CSS/:-moz-window-inactive

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-moz-window-inactive: 0
*/
