/*

This file contains tests for selectors.-moz-color-swatch
<code>::-moz-color-swatch</code>

selectors.-moz-color-swatch

See: https://developer.mozilla.org/docs/Web/CSS/::-moz-color-swatch

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-moz-color-swatch: 0
*/
