/*

This file contains tests for selectors.-moz-range-progress
<code>::-moz-range-progress</code>

selectors.-moz-range-progress

See: https://developer.mozilla.org/docs/Web/CSS/::-moz-range-progress

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-moz-range-progress: 0
*/
