/*

This file contains tests for selectors.-moz-broken
<code>:-moz-broken</code>

selectors.-moz-broken

See: https://developer.mozilla.org/docs/Web/CSS/:-moz-broken

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-moz-broken: 0
*/
