/*

This file contains tests for selectors.-moz-page-sequence
<code>::-moz-page-sequence</code>

selectors.-moz-page-sequence

See: https://developer.mozilla.org/docs/Web/CSS/::-moz-page-sequence

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-moz-page-sequence: 0
*/
