/*

This file contains tests for selectors.-webkit-meter-inner-element
<code>::-webkit-meter-inner-element</code>

selectors.-webkit-meter-inner-element

See: https://developer.mozilla.org/docs/Web/CSS/::-webkit-meter-inner-element

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-webkit-meter-inner-element: 0
*/
