/*

This file contains tests for selectors.-webkit-search-results-button
<code>::-webkit-search-results-button</code>

selectors.-webkit-search-results-button

See: https://developer.mozilla.org/docs/Web/CSS/::-webkit-search-results-button

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-webkit-search-results-button: 0
*/
