/*

This file contains tests for selectors.-webkit-progress-value
<code>::-webkit-progress-value</code>

selectors.-webkit-progress-value

See: https://developer.mozilla.org/docs/Web/CSS/::-webkit-progress-value

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-webkit-progress-value: 0
*/
