/*

This file contains tests for selectors.-webkit-slider-thumb
No description provided

selectors.-webkit-slider-thumb

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-webkit-slider-thumb: 0
*/
