/*

This file contains tests for selectors.-webkit-meter-even-less-good-value
<code>::-webkit-meter-even-less-good-value</code>

selectors.-webkit-meter-even-less-good-value

See: https://developer.mozilla.org/docs/Web/CSS/::-webkit-meter-even-less-good-value

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-webkit-meter-even-less-good-value: 0
*/
