/*

This file contains tests for selectors.-webkit-progress-bar
<code>::-webkit-progress-bar</code>

selectors.-webkit-progress-bar

See: https://developer.mozilla.org/docs/Web/CSS/::-webkit-progress-bar

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-webkit-progress-bar: 0
*/
