/*

This file contains tests for selectors.-webkit-outer-spin-button
<code>::-webkit-outer-spin-button</code>

selectors.-webkit-outer-spin-button

See: https://developer.mozilla.org/docs/Web/CSS/::-webkit-outer-spin-button

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-webkit-outer-spin-button: 0
*/
