/*

This file contains tests for selectors.-webkit-details-marker
<code>::-webkit-details-marker</code>

selectors.-webkit-details-marker

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.-webkit-details-marker: 0
*/
