/*

This file contains tests for selectors.child
Child combinator (<code>A &gt; B</code>)

selectors.child

See: https://developer.mozilla.org/docs/Web/CSS/Child_combinator

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.child: 0
*/
