/*

This file contains tests for selectors.class
Class selector (<code>.className</code>)

selectors.class

See: https://developer.mozilla.org/docs/Web/CSS/Class_selectors

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.class: 0
*/
