/*

This file contains tests for selectors.defined
<code>:defined</code>

selectors.defined

See: https://developer.mozilla.org/docs/Web/CSS/:defined

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.defined: 0
*/
