/*

This file contains tests for selectors.enabled
<code>:enabled</code>

selectors.enabled

See: https://developer.mozilla.org/docs/Web/CSS/:enabled

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.enabled: 0
*/
