/*

This file contains tests for selectors.first-line
<code>::first-line</code>

selectors.first-line

See: https://developer.mozilla.org/docs/Web/CSS/::first-line

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.first-line: 0
*/
