/*

This file contains tests for selectors.focus-visible
<code>:focus-visible</code>

selectors.focus-visible

See: https://developer.mozilla.org/docs/Web/CSS/:focus-visible

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.focus-visible: 0
*/
