/*

This file contains tests for selectors.focus-within
<code>:focus-within</code>

selectors.focus-within

See: https://developer.mozilla.org/docs/Web/CSS/:focus-within

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.focus-within: 0
*/
