/*

This file contains tests for selectors.grammar-error
<code>::grammar-error</code>

selectors.grammar-error

See: https://developer.mozilla.org/docs/Web/CSS/::grammar-error

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.grammar-error: 0
*/
