/*

This file contains tests for selectors.has
<code>:has()</code>

selectors.has

See: https://developer.mozilla.org/docs/Web/CSS/:has

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.has: 0
*/
