/*

This file contains tests for selectors.highlight
<code>::highlight()</code>

selectors.highlight

See: https://developer.mozilla.org/docs/Web/CSS/::highlight

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.highlight: 0
*/
