/*

This file contains tests for selectors.id
ID selector (<code>#idName</code>)

selectors.id

See: https://developer.mozilla.org/docs/Web/CSS/ID_selectors

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.id: 0
*/
