/*

This file contains tests for selectors.left
Left-hand page pseudo-class (<code>:left</code>)

selectors.left

See: https://developer.mozilla.org/docs/Web/CSS/:left

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.left: 0
*/
