/*

This file contains tests for selectors.list
Selector list (<code>,</code>)

selectors.list

See: https://developer.mozilla.org/docs/Web/CSS/Selector_list

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.list: 0
*/
