/*

This file contains tests for selectors.nesting
Nesting selector (<code>&amp;</code>)

selectors.nesting

See: https://developer.mozilla.org/docs/Web/CSS/Nesting_selector

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.nesting: 0
*/
