/*

This file contains tests for selectors.nth-of-type
<code>:nth-of-type()</code>

selectors.nth-of-type

See: https://developer.mozilla.org/docs/Web/CSS/:nth-of-type

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.nth-of-type: 0
*/
