/*

This file contains tests for selectors.only-of-type
<code>:only-of-type</code>

selectors.only-of-type

See: https://developer.mozilla.org/docs/Web/CSS/:only-of-type

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.only-of-type: 0
*/
