/*

This file contains tests for selectors.open
No description provided

selectors.open

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.open: 0
*/
