/*

This file contains tests for selectors.optional
<code>:optional</code>

selectors.optional

See: https://developer.mozilla.org/docs/Web/CSS/:optional

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.optional: 0
*/
