/*

This file contains tests for selectors.part
<code>::part</code>

selectors.part

See: https://developer.mozilla.org/docs/Web/CSS/::part

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.part: 0
*/
