/*

This file contains tests for selectors.past
<code>:past</code>

selectors.past

See: https://developer.mozilla.org/docs/Web/CSS/:past

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.past: 0
*/
