/*

This file contains tests for selectors.placeholder
<code>::placeholder</code>

selectors.placeholder

See: https://developer.mozilla.org/docs/Web/CSS/::placeholder

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.placeholder: 0
*/
