/*

This file contains tests for selectors.playing
<code>:playing</code>

selectors.playing

See: https://developer.mozilla.org/docs/Web/CSS/:playing

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.playing: 0
*/
