/*

This file contains tests for selectors.popover-open
<code>:popover-open</code>

selectors.popover-open

See: https://developer.mozilla.org/docs/Web/CSS/:popover-open

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.popover-open: 0
*/
