/*

This file contains tests for selectors.read-write
<code>:read-write</code>

selectors.read-write

See: https://developer.mozilla.org/docs/Web/CSS/:read-write

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.read-write: 0
*/
