/*

This file contains tests for selectors.root
<code>:root</code>

selectors.root

See: https://developer.mozilla.org/docs/Web/CSS/:root

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.root: 0
*/
