/*

This file contains tests for selectors.seeking
<code>:seeking</code>

selectors.seeking

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.seeking: 0
*/
