/*

This file contains tests for selectors.spelling-error
<code>::spelling-error</code>

selectors.spelling-error

See: https://developer.mozilla.org/docs/Web/CSS/::spelling-error

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.spelling-error: 0
*/
