/*

This file contains tests for selectors.subsequent-sibling
Subsequent-sibling combinator (<code>A ~ B</code>)

selectors.subsequent-sibling

See: https://developer.mozilla.org/docs/Web/CSS/Subsequent-sibling_combinator

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.subsequent-sibling: 0
*/
