/*

This file contains tests for selectors.target
<code>:target</code>

selectors.target

See: https://developer.mozilla.org/docs/Web/CSS/:target

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.target: 0
*/
