/*

This file contains tests for selectors.target-text
<code>::target-text</code>

selectors.target-text

See: https://developer.mozilla.org/docs/Web/CSS/::target-text

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.target-text: 0
*/
