/*

This file contains tests for selectors.user-invalid
<code>:user-invalid</code>

selectors.user-invalid

See: https://developer.mozilla.org/docs/Web/CSS/:user-invalid

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.user-invalid: 0
*/
