/*

This file contains tests for selectors.user-valid
<code>:user-valid</code>

selectors.user-valid

See: https://developer.mozilla.org/docs/Web/CSS/:user-valid

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.user-valid: 0
*/
