/*

This file contains tests for selectors.view-transition
<code>::view-transition</code>

selectors.view-transition

See: https://developer.mozilla.org/docs/Web/CSS/::view-transition

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.view-transition: 0
*/
