/*

This file contains tests for selectors.view-transition-new
<code>::view-transition-new()</code>

selectors.view-transition-new

See: https://developer.mozilla.org/docs/Web/CSS/::view-transition-new

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.view-transition-new: 0
*/
