/*

This file contains tests for selectors.view-transition-group
<code>::view-transition-group()</code>

selectors.view-transition-group

See: https://developer.mozilla.org/docs/Web/CSS/::view-transition-group

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.view-transition-group: 0
*/
