/*

This file contains tests for selectors.view-transition-image-pair
<code>::view-transition-image-pair()</code>

selectors.view-transition-image-pair

See: https://developer.mozilla.org/docs/Web/CSS/::view-transition-image-pair

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.view-transition-image-pair: 0
*/
