/*

This file contains tests for selectors.volume-locked
<code>:volume-locked</code>

selectors.volume-locked

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.volume-locked: 0
*/
