/*

This file contains tests for properties.break-after.multicol_context.avoid-column
<code>avoid-column</code>

properties.break-after.multicol_context.avoid-column

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.break-after.multicol_context.avoid-column: 0
*/
