/*

This file contains tests for types.image.gradient.linear-gradient
<code>linear-gradient()</code>

types.image.gradient.linear-gradient

See: https://developer.mozilla.org/docs/Web/CSS/gradient/linear-gradient

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.image.gradient.linear-gradient: 0
*/
