/*

This file contains tests for types.image.gradient.linear-gradient.to
<code>to</code> keyword

types.image.gradient.linear-gradient.to

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.image.gradient.linear-gradient.to: 0
*/
