/*

This file contains tests for types.color.color-contrast
<code>color-contrast()</code>

types.color.color-contrast

See: https://developer.mozilla.org/docs/Web/CSS/color_value/color-contrast

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.color-contrast: 0
*/
