/*

This file contains tests for types.color
&lt;color&gt;

types.color

See: https://developer.mozilla.org/docs/Web/CSS/color_value

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color: 0
*/
