/*

This file contains tests for types.color.light-dark
<code>light-dark()</code>

types.color.light-dark

See: https://developer.mozilla.org/docs/Web/CSS/color_value/light-dark

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.light-dark: 0
*/
