/*

This file contains tests for types.color.transparent
<code>transparent</code> keyword

types.color.transparent

See: https://developer.mozilla.org/docs/Web/CSS/named-color#transparent

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.transparent: 0
*/
