/*

This file contains tests for properties.max-block-size
No description provided

properties.max-block-size

See: https://developer.mozilla.org/docs/Web/CSS/max-block-size

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.max-block-size: 0
*/
