/*

This file contains tests for properties.-moz-orient.auto
<code>auto</code> value

properties.-moz-orient.auto

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-moz-orient.auto: 0
*/
