/*

This file contains tests for properties.-moz-orient
No description provided

properties.-moz-orient

See: https://developer.mozilla.org/docs/Web/CSS/-moz-orient

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-moz-orient: 0
*/
