/*

This file contains tests for properties.-moz-orient.inline_and_block
<code>inline</code> and <code>block</code> values

properties.-moz-orient.inline_and_block

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-moz-orient.inline_and_block: 0
*/
