/*

This file contains tests for at-rules.namespace
<code>@namespace</code>

at-rules.namespace

See: https://developer.mozilla.org/docs/Web/CSS/@namespace

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.namespace: 0
*/
