/*

This file contains tests for at-rules.starting-style
<code>@starting-style</code>

at-rules.starting-style

See: https://developer.mozilla.org/docs/Web/CSS/@starting-style

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.starting-style: 0
*/
