/*

This file contains tests for at-rules.media.-moz-device-pixel-ratio
<code>-moz-device-pixel-ratio</code> media feature

at-rules.media.-moz-device-pixel-ratio

See: https://developer.mozilla.org/docs/Web/CSS/@media/-moz-device-pixel-ratio

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.-moz-device-pixel-ratio: 0
*/
