/*

This file contains tests for at-rules.media.any-pointer
<code>any-pointer</code> media feature

at-rules.media.any-pointer

See: https://developer.mozilla.org/docs/Web/CSS/@media/any-pointer

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.any-pointer: 0
*/
