/*

This file contains tests for at-rules.media.aspect-ratio
<code>aspect-ratio</code> media feature

at-rules.media.aspect-ratio

See: https://developer.mozilla.org/docs/Web/CSS/@media/aspect-ratio

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.aspect-ratio: 0
*/
