/*

This file contains tests for at-rules.media.color-gamut
<code>color-gamut</code> media feature

at-rules.media.color-gamut

See: https://developer.mozilla.org/docs/Web/CSS/@media/color-gamut

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.color-gamut: 0
*/
