/*

This file contains tests for at-rules.media.device-width
<code>device-width</code> media feature

at-rules.media.device-width

See: https://developer.mozilla.org/docs/Web/CSS/@media/device-width

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.device-width: 0
*/
