/*

This file contains tests for at-rules.media.device-posture
<code>device-posture</code> media feature

at-rules.media.device-posture

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.device-posture: 0
*/
