/*

This file contains tests for at-rules.media.dynamic-range
<code>dynamic-range</code> media feature

at-rules.media.dynamic-range

See: https://developer.mozilla.org/docs/Web/CSS/@media/dynamic-range

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.dynamic-range: 0
*/
