/*

This file contains tests for at-rules.media.forced-colors
<code>forced-colors</code> media feature

at-rules.media.forced-colors

See: https://developer.mozilla.org/docs/Web/CSS/@media/forced-colors

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.forced-colors: 0
*/
