/*

This file contains tests for at-rules.media.hover
<code>hover</code> media feature

at-rules.media.hover

See: https://developer.mozilla.org/docs/Web/CSS/@media/hover

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.hover: 0
*/
