/*

This file contains tests for at-rules.media.monochrome
<code>monochrome</code> media feature

at-rules.media.monochrome

See: https://developer.mozilla.org/docs/Web/CSS/@media/monochrome

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.monochrome: 0
*/
