/*

This file contains tests for at-rules.media.or_syntax
<code>or</code> syntax from Media Queries Level 4

at-rules.media.or_syntax

See: https://developer.mozilla.org/docs/Web/CSS/CSS_media_queries/Using_media_queries#testing_for_multiple_features_with_or

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.or_syntax: 0
*/
