/*

This file contains tests for at-rules.media.prefers-reduced-motion
<code>prefers-reduced-motion</code> media feature

at-rules.media.prefers-reduced-motion

See: https://developer.mozilla.org/docs/Web/CSS/@media/prefers-reduced-motion

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.prefers-reduced-motion: 0
*/
