/*

This file contains tests for at-rules.media.range_syntax
Range syntax from Media Queries Level 4

at-rules.media.range_syntax

See: https://developer.mozilla.org/docs/Web/CSS/CSS_media_queries/Using_media_queries#syntax_improvements_in_level_4

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.range_syntax: 0
*/
