/*

This file contains tests for at-rules.media.scripting
<code>scripting</code> media feature

at-rules.media.scripting

See: https://developer.mozilla.org/docs/Web/CSS/@media/scripting

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.scripting: 0
*/
