/*

This file contains tests for at-rules.media.update
<code>update</code> media feature

at-rules.media.update

See: https://developer.mozilla.org/docs/Web/CSS/@media/update-frequency

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.update: 0
*/
