/*

This file contains tests for properties.caption-side.writing-mode_relative_values
<code>top</code> and <code>bottom</code> are relative to the <code>writing-mode</code> value

properties.caption-side.writing-mode_relative_values

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.caption-side.writing-mode_relative_values: 0
*/
