/*

This file contains tests for properties.justify-items
No description provided

properties.justify-items

See: https://developer.mozilla.org/docs/Web/CSS/justify-items

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.justify-items: 0
*/
