/*

This file contains tests for properties.word-break.auto-phrase
<code>auto-phrase</code>

properties.word-break.auto-phrase

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.word-break.auto-phrase: 0
*/
