/*

This file contains tests for properties.word-break.keep-all
<code>keep-all</code>

properties.word-break.keep-all

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.word-break.keep-all: 0
*/
