/*

This file contains tests for properties.break-inside.avoid-column
No description provided

properties.break-inside.avoid-column

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.break-inside.avoid-column: 0
*/
