/*

This file contains tests for properties.break-inside
No description provided

properties.break-inside

See: https://developer.mozilla.org/docs/Web/CSS/break-inside

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.break-inside: 0
*/
