/*

This file contains tests for properties.zoom.reset
The <code>reset</code> value

properties.zoom.reset

See: https://developer.mozilla.org/docs/Web/CSS/zoom#Values

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.zoom.reset: 0
*/
