/*

This file contains tests for properties.contain-intrinsic-size.auto_none
<code>auto none</code> value

properties.contain-intrinsic-size.auto_none

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.contain-intrinsic-size.auto_none: 0
*/
