/*

This file contains tests for properties.content.element_replacement
Element replacement

properties.content.element_replacement

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.content.element_replacement: 0
*/
