/*

This file contains tests for properties.content
No description provided

properties.content

See: https://developer.mozilla.org/docs/Web/CSS/content

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.content: 0
*/
