/*

This file contains tests for properties.content.none_applies_to_elements
<code>content: none</code> for elements

properties.content.none_applies_to_elements

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.content.none_applies_to_elements: 0
*/
