/*

This file contains tests for properties.content.url
<code>url()</code>

properties.content.url

See: https://developer.mozilla.org/docs/Web/CSS/url()

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.content.url: 0
*/
