/*

This file contains tests for at-rules.page.size.jis-b4
<code>jis-b4</code> page size

at-rules.page.size.jis-b4

See: https://developer.mozilla.org/docs/Web/CSS/@page/size

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.page.size.jis-b4: 0
*/
