/*

This file contains tests for types.color.lch
<code>lch()</code> (LCH color model)

types.color.lch

See: https://developer.mozilla.org/docs/Web/CSS/color_value/lch

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.lch: 0
*/
