/*

This file contains tests for properties.z-index
No description provided

properties.z-index

See: https://developer.mozilla.org/docs/Web/CSS/z-index

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.z-index: 0
*/
