/*

This file contains tests for types.color.rgba
<code>rgba()</code> (RGB color model)

types.color.rgba

See: https://developer.mozilla.org/docs/Web/CSS/color_value/rgba

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.rgba: 0
*/
