/*

This file contains tests for at-rules.media.prefers-color-scheme
<code>prefers-color-scheme</code> media feature

at-rules.media.prefers-color-scheme

See: https://developer.mozilla.org/docs/Web/CSS/@media/prefers-color-scheme

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.prefers-color-scheme: 0
*/
