/*

This file contains tests for at-rules.media.prefers-color-scheme.no-preference
<code>no-preference</code> value

at-rules.media.prefers-color-scheme.no-preference

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.prefers-color-scheme.no-preference: 0
*/
