/*

This file contains tests for at-rules.media.prefers-color-scheme.respects-inherited-scheme
Respects <code>color-scheme</code> inherited from parent

at-rules.media.prefers-color-scheme.respects-inherited-scheme

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.media.prefers-color-scheme.respects-inherited-scheme: 0
*/
