/*

This file contains tests for properties.text-combine-upright
No description provided

properties.text-combine-upright

See: https://developer.mozilla.org/docs/Web/CSS/text-combine-upright

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-combine-upright: 0
*/
