/*

This file contains tests for properties.animation-duration.auto
<code>auto</code> value

properties.animation-duration.auto

See: https://developer.mozilla.org/docs/Web/CSS/animation-duration#Values

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation-duration.auto: 0
*/
