/*

This file contains tests for properties.animation-duration
No description provided

properties.animation-duration

See: https://developer.mozilla.org/docs/Web/CSS/animation-duration

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation-duration: 0
*/
