/*

This file contains tests for types.color.lab
<code>lab()</code> (Lab color model)

types.color.lab

See: https://developer.mozilla.org/docs/Web/CSS/color_value/lab

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.lab: 0
*/
