/*

This file contains tests for properties.text-decoration-skip-ink.all
<code>all</code>

properties.text-decoration-skip-ink.all

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-decoration-skip-ink.all: 0
*/
