/*

This file contains tests for properties.text-decoration.text-decoration-thickness
<code>text-decoration-thickness</code> included in shorthand

properties.text-decoration.text-decoration-thickness

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-decoration.text-decoration-thickness: 0
*/
