/*

This file contains tests for properties.transition-property.IDENT_value
<code>IDENT</code> value

properties.transition-property.IDENT_value

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.transition-property.IDENT_value: 0
*/
