/*

This file contains tests for properties.transition-property
No description provided

properties.transition-property

See: https://developer.mozilla.org/docs/Web/CSS/transition-property

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.transition-property: 0
*/
