/*

This file contains tests for properties.white-space
No description provided

properties.white-space

See: https://developer.mozilla.org/docs/Web/CSS/white-space

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.white-space: 0
*/
