/*

This file contains tests for properties.white-space.shorthand_values
Accepts shorthand values

properties.white-space.shorthand_values

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.white-space.shorthand_values: 0
*/
