/*

This file contains tests for properties.max-width
No description provided

properties.max-width

See: https://developer.mozilla.org/docs/Web/CSS/max-width

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.max-width: 0
*/
