/*

This file contains tests for properties.box-sizing
No description provided

properties.box-sizing

See: https://developer.mozilla.org/docs/Web/CSS/box-sizing

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.box-sizing: 0
*/
