/*

This file contains tests for properties.box-sizing.padding-box
<code>padding-box</code>

properties.box-sizing.padding-box

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.box-sizing.padding-box: 0
*/
