/*

This file contains tests for selectors.invalid.form
Applies to <code>&lt;form&gt;</code> elements

selectors.invalid.form

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.invalid.form: 0
*/
