/*

This file contains tests for selectors.invalid
<code>:invalid</code>

selectors.invalid

See: https://developer.mozilla.org/docs/Web/CSS/:invalid

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.invalid: 0
*/
