/*

This file contains tests for types.number.scientific_notation
Scientific notation

types.number.scientific_notation

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.number.scientific_notation: 0
*/
