/*

This file contains tests for at-rules.font-palette-values.base-palette
No description provided

at-rules.font-palette-values.base-palette

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.font-palette-values.base-palette: 0
*/
