/*

This file contains tests for at-rules.font-palette-values
<code>@font-palette-values</code>

at-rules.font-palette-values

See: https://developer.mozilla.org/docs/Web/CSS/@font-palette-values

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.font-palette-values: 0
*/
