/*

This file contains tests for properties.text-underline-position
No description provided

properties.text-underline-position

See: https://developer.mozilla.org/docs/Web/CSS/text-underline-position

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-underline-position: 0
*/
