/*

This file contains tests for properties.image-orientation
No description provided

properties.image-orientation

See: https://developer.mozilla.org/docs/Web/CSS/image-orientation

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.image-orientation: 0
*/
