/*

This file contains tests for at-rules.counter-style.speak-as
<code>speak-as</code>

at-rules.counter-style.speak-as

See: https://developer.mozilla.org/docs/Web/CSS/@counter-style/speak-as

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.counter-style.speak-as: 0
*/
