/*

This file contains tests for properties.text-rendering.geometricPrecision
<code>geometricPrecision</code>

properties.text-rendering.geometricPrecision

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-rendering.geometricPrecision: 0
*/
