/*

This file contains tests for properties.text-rendering
No description provided

properties.text-rendering

See: https://developer.mozilla.org/docs/Web/CSS/text-rendering

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-rendering: 0
*/
