/*

This file contains tests for types.transform-function
<code>&lt;transform-function&gt;</code>

types.transform-function

See: https://developer.mozilla.org/docs/Web/CSS/transform-function

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.transform-function: 0
*/
