/*

This file contains tests for types.transform-function.perspective
<code>perspective()</code>

types.transform-function.perspective

See: https://developer.mozilla.org/docs/Web/CSS/transform-function/perspective

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.transform-function.perspective: 0
*/
