/*

This file contains tests for types.transform-function.rotateX
<code>rotateX()</code>

types.transform-function.rotateX

See: https://developer.mozilla.org/docs/Web/CSS/transform-function/rotateX

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.transform-function.rotateX: 0
*/
