/*

This file contains tests for types.transform-function.rotate
<code>rotate()</code>

types.transform-function.rotate

See: https://developer.mozilla.org/docs/Web/CSS/transform-function/rotate

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.transform-function.rotate: 0
*/
