/*

This file contains tests for types.transform-function.scale
<code>scale()</code>

types.transform-function.scale

See: https://developer.mozilla.org/docs/Web/CSS/transform-function/scale

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.transform-function.scale: 0
*/
