/*

This file contains tests for types.transform-function.scaleX
<code>scaleX()</code>

types.transform-function.scaleX

See: https://developer.mozilla.org/docs/Web/CSS/transform-function/scaleX

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.transform-function.scaleX: 0
*/
