/*

This file contains tests for types.transform-function.scaleY
<code>scaleY()</code>

types.transform-function.scaleY

See: https://developer.mozilla.org/docs/Web/CSS/transform-function/scaleY

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.transform-function.scaleY: 0
*/
