/*

This file contains tests for types.transform-function.skewX
<code>skewX()</code>

types.transform-function.skewX

See: https://developer.mozilla.org/docs/Web/CSS/transform-function/skewX

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.transform-function.skewX: 0
*/
