/*

This file contains tests for types.transform-function.skewY
<code>skewY()</code>

types.transform-function.skewY

See: https://developer.mozilla.org/docs/Web/CSS/transform-function/skewY

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.transform-function.skewY: 0
*/
