/*

This file contains tests for types.transform-function.translateX
<code>translateX()</code>

types.transform-function.translateX

See: https://developer.mozilla.org/docs/Web/CSS/transform-function/translateX

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.transform-function.translateX: 0
*/
