/*

This file contains tests for properties.list-style-type.ethiopic-halehame-aa-er
<code>ethiopic-halehame-aa-er</code>

properties.list-style-type.ethiopic-halehame-aa-er

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.list-style-type.ethiopic-halehame-aa-er: 0
*/
