/*

This file contains tests for properties.list-style-type.ethiopic-halehame-sid-et
<code>ethiopic-halehame-sid-et</code>

properties.list-style-type.ethiopic-halehame-sid-et

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.list-style-type.ethiopic-halehame-sid-et: 0
*/
