/*

This file contains tests for properties.list-style-type
No description provided

properties.list-style-type

See: https://developer.mozilla.org/docs/Web/CSS/list-style-type

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.list-style-type: 0
*/
