/*

This file contains tests for properties.list-style-type.korean-hanja-informal
<code>korean-hanja-informal</code>

properties.list-style-type.korean-hanja-informal

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.list-style-type.korean-hanja-informal: 0
*/
