/*

This file contains tests for properties.list-style-type.tigrinya-et
<code>tigrinya-et</code>

properties.list-style-type.tigrinya-et

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.list-style-type.tigrinya-et: 0
*/
