/*

This file contains tests for properties.list-style-type.tigrinya-et-abegede
<code>tigrinya-et-abegede</code>

properties.list-style-type.tigrinya-et-abegede

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.list-style-type.tigrinya-et-abegede: 0
*/
