/*

This file contains tests for properties.list-style-type.trad-chinese-informal
<code>trad-chinese-informal</code>

properties.list-style-type.trad-chinese-informal

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.list-style-type.trad-chinese-informal: 0
*/
