/*

This file contains tests for properties.margin-right
No description provided

properties.margin-right

See: https://developer.mozilla.org/docs/Web/CSS/margin-right

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.margin-right: 0
*/
