/* AUTO_GENERATED: true */

/* 
feature: properties.align-items.flex_context.first_baseline
<code>first baseline</code>

see: https://developer.mozilla.org/docs/Web/CSS/align-items
*/

/* sample that triggers the feature */
align-items: first baseline;

/* sample that does not trigger the feature */
align-items: center;