/* AUTO_GENERATED: true */

/* 
feature: properties.align-items.flex_context.start_end
<code>start</code> and <code>end</code>

see: https://developer.mozilla.org/docs/Web/CSS/align-items
*/

/* sample that triggers the feature */
align-items: flex-start;

/* sample that does not trigger the feature */
align-items: center;