/*

This file contains tests for properties.pointer-events
No description provided

properties.pointer-events

See: https://developer.mozilla.org/docs/Web/CSS/pointer-events

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.pointer-events: 0
*/
