/*

This file contains tests for properties.position
No description provided

properties.position

See: https://developer.mozilla.org/docs/Web/CSS/position

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.position: 0
*/
