/*

This file contains tests for properties.position.position_sticky_table_elements
Table elements as <code>sticky</code> positioning containers

properties.position.position_sticky_table_elements

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.position.position_sticky_table_elements: 0
*/
