/*

This file contains tests for properties.position.sticky
<code>sticky</code>

properties.position.sticky

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.position.sticky: 0
*/
