/*

This file contains tests for selectors.descendant
Descendant combinator (<code>A B</code>)

selectors.descendant

See: https://developer.mozilla.org/docs/Web/CSS/Descendant_combinator

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.descendant: 0
*/
