/*

This file contains tests for selectors.descendant.two_greater_than_syntax
<code>A &gt;&gt; B</code> syntax

selectors.descendant.two_greater_than_syntax

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.descendant.two_greater_than_syntax: 0
*/
