/*

This file contains tests for properties.offset-path.coord-box
<code>&lt;coord-box&gt;</code>

properties.offset-path.coord-box

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.offset-path.coord-box: 0
*/
