/*

This file contains tests for properties.offset-path
No description provided

properties.offset-path

See: https://developer.mozilla.org/docs/Web/CSS/offset-path

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.offset-path: 0
*/
