/*

This file contains tests for properties.offset-path.url
<code>&lt;url&gt;</code>

properties.offset-path.url

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.offset-path.url: 0
*/
