/*

This file contains tests for properties.mix-blend-mode.plus-lighter
<code>plus-lighter</code>

properties.mix-blend-mode.plus-lighter

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.mix-blend-mode.plus-lighter: 0
*/
