/*

This file contains tests for properties.mix-blend-mode.svg
On SVG elements

properties.mix-blend-mode.svg

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.mix-blend-mode.svg: 0
*/
