/*

This file contains tests for properties.font-variant-alternates.ornaments
<code>ornaments()</code>

properties.font-variant-alternates.ornaments

See: https://developer.mozilla.org/docs/Web/CSS/font-variant-alternates#ornaments()

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-variant-alternates.ornaments: 0
*/
