/*

This file contains tests for properties.content-visibility
No description provided

properties.content-visibility

See: https://developer.mozilla.org/docs/Web/CSS/content-visibility

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.content-visibility: 0
*/
