/*

This file contains tests for properties.break-before.always
No description provided

properties.break-before.always

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.break-before.always: 0
*/
