/*

This file contains tests for properties.break-before.avoid
No description provided

properties.break-before.avoid

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.break-before.avoid: 0
*/
