/*

This file contains tests for types.-moz-image-rect
<code>-moz-image-rect()</code>

types.-moz-image-rect

See: https://developer.mozilla.org/docs/Web/CSS/-moz-image-rect

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.-moz-image-rect: 0
*/
