/*

This file contains tests for types.abs
<code>abs()</code>

types.abs

See: https://developer.mozilla.org/docs/Web/CSS/abs

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.abs: 0
*/
