/*

This file contains tests for types.angle-percentage
<code>&lt;angle-percentage&gt;</code>

types.angle-percentage

See: https://developer.mozilla.org/docs/Web/CSS/angle-percentage

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.angle-percentage: 0
*/
