/*

This file contains tests for types.asin
<code>asin()</code>

types.asin

See: https://developer.mozilla.org/docs/Web/CSS/asin

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.asin: 0
*/
