/*

This file contains tests for types.atan
<code>atan()</code>

types.atan

See: https://developer.mozilla.org/docs/Web/CSS/atan

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.atan: 0
*/
