/*

This file contains tests for types.counter
<code>counter()</code>

types.counter

See: https://developer.mozilla.org/docs/Web/CSS/counter

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.counter: 0
*/
