/*

This file contains tests for types.counters
<code>counters()</code>

types.counters

See: https://developer.mozilla.org/docs/Web/CSS/counters

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.counters: 0
*/
