/*

This file contains tests for types.dimension
&lt;dimension&gt;

types.dimension

See: https://developer.mozilla.org/docs/Web/CSS/dimension

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.dimension: 0
*/
