/*

This file contains tests for types.flex
<code>&lt;flex&gt;</code>

types.flex

See: https://developer.mozilla.org/docs/Web/CSS/flex_value

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.flex: 0
*/
