/*

This file contains tests for types.frequency-percentage
<code>&lt;frequency-percentage&gt;</code>

types.frequency-percentage

See: https://developer.mozilla.org/docs/Web/CSS/frequency-percentage

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.frequency-percentage: 0
*/
