/*

This file contains tests for types.max
<code>max()</code>

types.max

See: https://developer.mozilla.org/docs/Web/CSS/max

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.max: 0
*/
