/*

This file contains tests for types.mod
<code>mod()</code>

types.mod

See: https://developer.mozilla.org/docs/Web/CSS/mod

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.mod: 0
*/
