/*

This file contains tests for types.pow
<code>pow()</code>

types.pow

See: https://developer.mozilla.org/docs/Web/CSS/pow

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.pow: 0
*/
