/*

This file contains tests for types.round
<code>round()</code>

types.round

See: https://developer.mozilla.org/docs/Web/CSS/round

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.round: 0
*/
