/*

This file contains tests for types.sign
<code>sign()</code>

types.sign

See: https://developer.mozilla.org/docs/Web/CSS/sign()

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.sign: 0
*/
