/*

This file contains tests for types.sin
<code>sin()</code>

types.sin

See: https://developer.mozilla.org/docs/Web/CSS/sin

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.sin: 0
*/
