/*

This file contains tests for types.tan
<code>tan()</code>

types.tan

See: https://developer.mozilla.org/docs/Web/CSS/tan

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.tan: 0
*/
