/*

This file contains tests for selectors.visited
<code>:visited</code>

selectors.visited

See: https://developer.mozilla.org/docs/Web/CSS/:visited

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.visited: 0
*/
