/*

This file contains tests for selectors.visited.not_match_link
<code>:visited</code> privacy: selector does not match <code>&lt;link&gt;</code> elements

selectors.visited.not_match_link

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.visited.not_match_link: 0
*/
