/*

This file contains tests for selectors.visited.privacy_measures
Restrict CSS properties allowed in a statement using <code>:visited</code> for privacy

selectors.visited.privacy_measures

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.visited.privacy_measures: 0
*/
