/*

This file contains tests for types.color.rgb
<code>rgb()</code> (RGB color model)

types.color.rgb

See: https://developer.mozilla.org/docs/Web/CSS/color_value/rgb

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.rgb: 0
*/
