/*

This file contains tests for types.color.rgb.relative_syntax
Relative RGB colors

types.color.rgb.relative_syntax

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.rgb.relative_syntax: 0
*/
