/*

This file contains tests for selectors.after.animation_and_transition_support
Animation and transition support

selectors.after.animation_and_transition_support

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.after.animation_and_transition_support: 0
*/
