/*

This file contains tests for selectors.after
<code>::after</code>

selectors.after

See: https://developer.mozilla.org/docs/Web/CSS/::after

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.after: 0
*/
