/*

This file contains tests for properties.animation-timing-function
No description provided

properties.animation-timing-function

See: https://developer.mozilla.org/docs/Web/CSS/animation-timing-function

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation-timing-function: 0
*/
