/*

This file contains tests for properties.background.background-origin
Values of <code>background-origin</code> longhand

properties.background.background-origin

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background.background-origin: 0
*/
