/*

This file contains tests for properties.background
No description provided

properties.background

See: https://developer.mozilla.org/docs/Web/CSS/background

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background: 0
*/
