/*

This file contains tests for types.ray
<code>ray()</code>

types.ray

See: https://developer.mozilla.org/docs/Web/CSS/ray

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.ray: 0
*/
