/* AUTO_GENERATED: true */

/* 
feature: properties.align-content.multicol_context
Supported in Multi-column Layout

see: https://developer.mozilla.org/docs/Web/CSS/align-content
*/

/* sample that triggers the feature */
div {
align-content: space-between;
column-count: 2;
}

/* sample that does not trigger the feature */
div {
align-content: space-between;
}