/*

This file contains tests for types.length.cap
<code>cap</code> unit

types.length.cap

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length.cap: 0
*/
