/*

This file contains tests for types.length.ch
<code>ch</code> unit

types.length.ch

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length.ch: 0
*/
