/*

This file contains tests for types.length.ex
<code>ex</code> unit

types.length.ex

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length.ex: 0
*/
