/*

This file contains tests for types.length.ic
<code>ic</code> unit

types.length.ic

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length.ic: 0
*/
