/*

This file contains tests for types.length.lh
<code>lh</code> unit

types.length.lh

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length.lh: 0
*/
