/*

This file contains tests for types.length.Q
<code>Q</code> unit

types.length.Q

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length.Q: 0
*/
