/*

This file contains tests for types.length.rem
<code>rem</code> unit

types.length.rem

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length.rem: 0
*/
