/*

This file contains tests for types.length.rlh
<code>rlh</code> unit

types.length.rlh

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length.rlh: 0
*/
