/*

This file contains tests for types.length.vh
<code>vh</code> unit

types.length.vh

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length.vh: 0
*/
