/*

This file contains tests for types.length.vmin
<code>vmin</code> unit

types.length.vmin

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length.vmin: 0
*/
