/*

This file contains tests for properties.display.display-outside
<code>&lt;display-outside&gt;</code>

properties.display.display-outside

See: https://developer.mozilla.org/docs/Web/CSS/display-outside

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.display.display-outside: 0
*/
