/*

This file contains tests for properties.display.keyframe_animatable
<code>@keyframe</code> animatable

properties.display.keyframe_animatable

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.display.keyframe_animatable: 0
*/
