/*

This file contains tests for properties.tab-size
No description provided

properties.tab-size

See: https://developer.mozilla.org/docs/Web/CSS/tab-size

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.tab-size: 0
*/
