/*

This file contains tests for properties.tab-size.length
<code>&lt;length&gt;</code>

properties.tab-size.length

See: https://developer.mozilla.org/docs/Web/CSS/length

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.tab-size.length: 0
*/
