/*

This file contains tests for properties.box-shadow.inset
<code>inset</code>

properties.box-shadow.inset

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.box-shadow.inset: 0
*/
