/*

This file contains tests for properties.box-shadow.multiple_shadows
Multiple shadows

properties.box-shadow.multiple_shadows

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.box-shadow.multiple_shadows: 0
*/
