/*

This file contains tests for at-rules.keyframes.ignore_important_declarations
Ignore <code>!important</code> declarations

at-rules.keyframes.ignore_important_declarations

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.keyframes.ignore_important_declarations: 0
*/
