/*

This file contains tests for properties.min-height
No description provided

properties.min-height

See: https://developer.mozilla.org/docs/Web/CSS/min-height

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.min-height: 0
*/
