/*

This file contains tests for properties.min-height.stretch
<code>stretch</code>

properties.min-height.stretch

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.min-height.stretch: 0
*/
