/*

This file contains tests for properties.mask-origin.fill-box
<code>fill-box</code>

properties.mask-origin.fill-box

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.mask-origin.fill-box: 0
*/
