/*

This file contains tests for properties.mask-origin.non_standard_values
Non-standard values <code>content</code>, <code>padding</code>, <code>border</code>

properties.mask-origin.non_standard_values

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.mask-origin.non_standard_values: 0
*/
