/*

This file contains tests for properties.mask-origin.view-box
<code>view-box</code>

properties.mask-origin.view-box

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.mask-origin.view-box: 0
*/
