/*

This file contains tests for types.filter-function.blur
<code>blur()</code>

types.filter-function.blur

See: https://developer.mozilla.org/docs/Web/CSS/filter-function/blur

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.filter-function.blur: 0
*/
