/*

This file contains tests for types.filter-function.grayscale
<code>grayscale()</code>

types.filter-function.grayscale

See: https://developer.mozilla.org/docs/Web/CSS/filter-function/grayscale

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.filter-function.grayscale: 0
*/
