/*

This file contains tests for types.filter-function.invert
<code>invert()</code>

types.filter-function.invert

See: https://developer.mozilla.org/docs/Web/CSS/filter-function/invert

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.filter-function.invert: 0
*/
