/*

This file contains tests for types.global_keywords
Global keywords

types.global_keywords

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.global_keywords: 0
*/
