/*

This file contains tests for types.global_keywords.revert-layer
No description provided

types.global_keywords.revert-layer

See: https://developer.mozilla.org/docs/Web/CSS/revert-layer

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.global_keywords.revert-layer: 0
*/
