/*

This file contains tests for types.global_keywords.unset
No description provided

types.global_keywords.unset

See: https://developer.mozilla.org/docs/Web/CSS/unset

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.global_keywords.unset: 0
*/
