/*

This file contains tests for types.length-percentage
<code>&lt;length-percentage&gt;</code>

types.length-percentage

See: https://developer.mozilla.org/docs/Web/CSS/length-percentage

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length-percentage: 0
*/
