/*

This file contains tests for types.length-percentage.mozmm
<code>mozmm</code> unit

types.length-percentage.mozmm

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.length-percentage.mozmm: 0
*/
