/*

This file contains tests for selectors.attribute.case_insensitive_modifier
Case-insensitive modifier (<code>i</code>)

selectors.attribute.case_insensitive_modifier

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.attribute.case_insensitive_modifier: 0
*/
