/*

This file contains tests for properties.font-stretch.percentage
<code>&lt;percentage&gt;</code> syntax

properties.font-stretch.percentage

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-stretch.percentage: 0
*/
