/*

This file contains tests for properties.max-height.fit-content_function
<code>fit-content()</code>

properties.max-height.fit-content_function

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.max-height.fit-content_function: 0
*/
