/*

This file contains tests for properties.max-height
No description provided

properties.max-height

See: https://developer.mozilla.org/docs/Web/CSS/max-height

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.max-height: 0
*/
