/*

This file contains tests for properties.animation.animation-timeline
<code>animation-timeline</code> included in shorthand

properties.animation.animation-timeline

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation.animation-timeline: 0
*/
