/*

This file contains tests for properties.font-size-adjust.two-values
Two-value syntax

properties.font-size-adjust.two-values

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-size-adjust.two-values: 0
*/
