/*

This file contains tests for properties.justify-self
No description provided

properties.justify-self

See: https://developer.mozilla.org/docs/Web/CSS/justify-self

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.justify-self: 0
*/
