/*

This file contains tests for types.easing-function
<code>&lt;easing-function&gt;</code>

types.easing-function

See: https://developer.mozilla.org/docs/Web/CSS/easing-function

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.easing-function: 0
*/
