/*

This file contains tests for types.easing-function.steps.jump
<code>jump-</code> keywords for <code>steps()</code>

types.easing-function.steps.jump

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.easing-function.steps.jump: 0
*/
