/*

This file contains tests for properties.outline-style
No description provided

properties.outline-style

See: https://developer.mozilla.org/docs/Web/CSS/outline-style

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.outline-style: 0
*/
