/*

This file contains tests for selectors.lang.argument_list
Comma-separated list of language codes as <code>:lang(A, B)</code>

selectors.lang.argument_list

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.lang.argument_list: 0
*/
