/*

This file contains tests for selectors.lang
<code>:lang()</code>

selectors.lang

See: https://developer.mozilla.org/docs/Web/CSS/:lang

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.lang: 0
*/
