/*

This file contains tests for selectors.lang.wildcards
Matching language codes with wildcards as <code>:lang(*-Latn)</code>

selectors.lang.wildcards

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.lang.wildcards: 0
*/
