/*

This file contains tests for properties.resize.block_level_support
Support on block level, replaced, table cell, or inline block elements

properties.resize.block_level_support

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.resize.block_level_support: 0
*/
