/*

This file contains tests for properties.resize
No description provided

properties.resize

See: https://developer.mozilla.org/docs/Web/CSS/resize

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.resize: 0
*/
