/*

This file contains tests for properties.grid-template-rows.animation
Animation of tracks

properties.grid-template-rows.animation

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.grid-template-rows.animation: 0
*/
