/*

This file contains tests for properties.grid-template-rows
No description provided

properties.grid-template-rows

See: https://developer.mozilla.org/docs/Web/CSS/grid-template-rows

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.grid-template-rows: 0
*/
