/*

This file contains tests for properties.grid-template-rows.masonry
<code>masonry</code>

properties.grid-template-rows.masonry

See: https://developer.mozilla.org/docs/Web/CSS/CSS_Grid_Layout/Masonry_Layout

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.grid-template-rows.masonry: 0
*/
