/*

This file contains tests for types.calc.number_values
<code>&lt;number&gt;</code> value support

types.calc.number_values

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.calc.number_values: 0
*/
