/*

This file contains tests for selectors.first-letter.dutch_ij_digraph
Support for the Dutch digraph <code>IJ</code>

selectors.first-letter.dutch_ij_digraph

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.first-letter.dutch_ij_digraph: 0
*/
