/*

This file contains tests for types.overflow
No description provided

types.overflow

See: https://developer.mozilla.org/docs/Web/CSS/overflow_value

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.overflow: 0
*/
