/*

This file contains tests for properties.background-origin
No description provided

properties.background-origin

See: https://developer.mozilla.org/docs/Web/CSS/background-origin

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-origin: 0
*/
