/*

This file contains tests for properties.overflow
No description provided

properties.overflow

See: https://developer.mozilla.org/docs/Web/CSS/overflow

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.overflow: 0
*/
