/*

This file contains tests for types.color.hsla
<code>hsla()</code> (HSL color model)

types.color.hsla

See: https://developer.mozilla.org/docs/Web/CSS/color_value/hsla

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.hsla: 0
*/
