/*

This file contains tests for types.color.hsla.space_separated_parameters
Space-separated parameters

types.color.hsla.space_separated_parameters

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.hsla.space_separated_parameters: 0
*/
