/*

This file contains tests for properties.background-size
No description provided

properties.background-size

See: https://developer.mozilla.org/docs/Web/CSS/background-size

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-size: 0
*/
