/*

This file contains tests for properties.word-spacing.svg
SVG support

properties.word-spacing.svg

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.word-spacing.svg: 0
*/
