/* AUTO_GENERATED: true */

/* 
feature: properties.animation.animation-timeline_included
<code>animation-timeline</code> included in shorthand

see: https://developer.mozilla.org/docs/Web/CSS/animation
*/

/* sample that triggers the feature */
animation-timeline: 1s; animation: 3s ease-in 1s 2 reverse both paused slidein;

/* sample that does not trigger the feature */
animation: 3s ease-in 1s 2 reverse both paused slidein;