/* AUTO_GENERATED: true */

/* 
feature: properties.align-self.flex_context.last_baseline
<code>last baseline</code>

see: https://developer.mozilla.org/docs/Web/CSS/align-self
*/

/* sample that triggers the feature */
align-self: last baseline; /* Align the item flush at the end */

/* sample that does not trigger the feature */
align-self: flex-start; /* Put the flex item at the start */