/* AUTO_GENERATED: true */

/* 
feature: properties.align-self.flex_context.safe_unsafe
<code>safe</code> and <code>unsafe</code>

see: https://developer.mozilla.org/docs/Web/CSS/align-self
*/

/* sample that triggers the feature */
div {
align-self: safe center;
}

/* sample that does not trigger the feature */
div {
align-self: flex-start;
}