/*

This file contains tests for properties.gap.multicol_context
Supported in Multi-column Layout

properties.gap.multicol_context

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.gap.multicol_context: 0
*/
