/*

This file contains tests for properties.text-align.block_alignment_values
<code>center</code>, <code>left</code>, and <code>right</code> values for block alignment

properties.text-align.block_alignment_values

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-align.block_alignment_values: 0
*/
