/*

This file contains tests for properties.text-align.flow_relative_values_start_and_end
Flow-relative values <code>start</code> and <code>end</code>

properties.text-align.flow_relative_values_start_and_end

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-align.flow_relative_values_start_and_end: 0
*/
