/*

This file contains tests for properties.display.list-item.legend-support
Supported on <code>&lt;legend&gt;</code>

properties.display.list-item.legend-support

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.display.list-item.legend-support: 0
*/
