/*

This file contains tests for properties.custom-property.env.safe-area-inset-left
Safe area inset variable <code>safe-area-inset-left</code>

properties.custom-property.env.safe-area-inset-left

See: https://developer.mozilla.org/docs/Web/CSS/env()

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.custom-property.env.safe-area-inset-left: 0
*/
