/*

This file contains tests for properties.custom-property.env.safe-area-inset-right
Safe area inset variable <code>safe-area-inset-right</code>

properties.custom-property.env.safe-area-inset-right

See: https://developer.mozilla.org/docs/Web/CSS/env()

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.custom-property.env.safe-area-inset-right: 0
*/
