/*

This file contains tests for properties.custom-property.env.titlebar-area-x
Window Controls Overlay variable <code>titlebar-area-x</code>

properties.custom-property.env.titlebar-area-x

See: https://developer.mozilla.org/docs/Web/CSS/env()

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.custom-property.env.titlebar-area-x: 0
*/
