/*

This file contains tests for properties.-moz-force-broken-image-icon
No description provided

properties.-moz-force-broken-image-icon

See: https://developer.mozilla.org/docs/Web/CSS/-moz-force-broken-image-icon

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-moz-force-broken-image-icon: 0
*/
