/*

This file contains tests for properties.-webkit-touch-callout
No description provided

properties.-webkit-touch-callout

See: https://developer.mozilla.org/docs/Web/CSS/-webkit-touch-callout

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-touch-callout: 0
*/
