/*

This file contains tests for properties.-webkit-cursor-visibility
No description provided

properties.-webkit-cursor-visibility

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-cursor-visibility: 0
*/
