/*

This file contains tests for properties.-webkit-app-region
No description provided

properties.-webkit-app-region

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-app-region: 0
*/
