/*

This file contains tests for properties.-webkit-transform-origin-x
No description provided

properties.-webkit-transform-origin-x

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-transform-origin-x: 0
*/
