/*

This file contains tests for properties.-webkit-mask-box-image-width
No description provided

properties.-webkit-mask-box-image-width

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-mask-box-image-width: 0
*/
