/*

This file contains tests for properties.-webkit-mask-repeat-y
No description provided

properties.-webkit-mask-repeat-y

See: https://developer.mozilla.org/docs/Web/CSS/-webkit-mask-repeat-y

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-mask-repeat-y: 0
*/
