/*

This file contains tests for properties.-webkit-column-progression
No description provided

properties.-webkit-column-progression

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-column-progression: 0
*/
