/*

This file contains tests for properties.-webkit-text-decoration-skip
No description provided

properties.-webkit-text-decoration-skip

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-text-decoration-skip: 0
*/
