/*

This file contains tests for properties.-webkit-margin-before
No description provided

properties.-webkit-margin-before

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-margin-before: 0
*/
