/*

This file contains tests for properties.-webkit-overflow-scrolling
No description provided

properties.-webkit-overflow-scrolling

See: https://developer.mozilla.org/docs/Web/CSS/-webkit-overflow-scrolling

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-overflow-scrolling: 0
*/
