/*

This file contains tests for properties.-webkit-user-drag
No description provided

properties.-webkit-user-drag

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-user-drag: 0
*/
