/*

This file contains tests for properties.-webkit-hyphenate-limit-after
No description provided

properties.-webkit-hyphenate-limit-after

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-hyphenate-limit-after: 0
*/
