/*

This file contains tests for properties.-webkit-tap-highlight-color
No description provided

properties.-webkit-tap-highlight-color

See: https://developer.mozilla.org/docs/Web/CSS/-webkit-tap-highlight-color

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-webkit-tap-highlight-color: 0
*/
