/*

This file contains tests for properties.accent-color
No description provided

properties.accent-color

See: https://developer.mozilla.org/docs/Web/CSS/accent-color

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.accent-color: 0
*/
