/*

This file contains tests for properties.animation-range
No description provided

properties.animation-range

See: https://developer.mozilla.org/docs/Web/CSS/animation-range

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation-range: 0
*/
