/*

This file contains tests for properties.animation-range-end
No description provided

properties.animation-range-end

See: https://developer.mozilla.org/docs/Web/CSS/animation-range-end

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation-range-end: 0
*/
