/*

This file contains tests for properties.animation-play-state
No description provided

properties.animation-play-state

See: https://developer.mozilla.org/docs/Web/CSS/animation-play-state

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation-play-state: 0
*/
