/*

This file contains tests for properties.animation-name
No description provided

properties.animation-name

See: https://developer.mozilla.org/docs/Web/CSS/animation-name

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation-name: 0
*/
