/*

This file contains tests for properties.background-blend-mode
No description provided

properties.background-blend-mode

See: https://developer.mozilla.org/docs/Web/CSS/background-blend-mode

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-blend-mode: 0
*/
