/*

This file contains tests for properties.baseline-source
No description provided

properties.baseline-source

See: https://developer.mozilla.org/docs/Web/CSS/baseline-source

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.baseline-source: 0
*/
