/*

This file contains tests for properties.border-inline
No description provided

properties.border-inline

See: https://developer.mozilla.org/docs/Web/CSS/border-inline

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-inline: 0
*/
