/*

This file contains tests for properties.border-color
No description provided

properties.border-color

See: https://developer.mozilla.org/docs/Web/CSS/border-color

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-color: 0
*/
