/*

This file contains tests for properties.border-inline-end
No description provided

properties.border-inline-end

See: https://developer.mozilla.org/docs/Web/CSS/border-inline-end

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-inline-end: 0
*/
