/*

This file contains tests for properties.border-end-end-radius
No description provided

properties.border-end-end-radius

See: https://developer.mozilla.org/docs/Web/CSS/border-end-end-radius

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-end-end-radius: 0
*/
