/*

This file contains tests for properties.border-top-width
No description provided

properties.border-top-width

See: https://developer.mozilla.org/docs/Web/CSS/border-top-width

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-top-width: 0
*/
