/*

This file contains tests for properties.border-top
No description provided

properties.border-top

See: https://developer.mozilla.org/docs/Web/CSS/border-top

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-top: 0
*/
