/*

This file contains tests for properties.border-block
No description provided

properties.border-block

See: https://developer.mozilla.org/docs/Web/CSS/border-block

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-block: 0
*/
