/*

This file contains tests for properties.border-inline-color
No description provided

properties.border-inline-color

See: https://developer.mozilla.org/docs/Web/CSS/border-inline-color

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-inline-color: 0
*/
