/*

This file contains tests for properties.border-inline-start-width
No description provided

properties.border-inline-start-width

See: https://developer.mozilla.org/docs/Web/CSS/border-inline-start-width

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-inline-start-width: 0
*/
