/*

This file contains tests for properties.border-collapse
No description provided

properties.border-collapse

See: https://developer.mozilla.org/docs/Web/CSS/border-collapse

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-collapse: 0
*/
