/*

This file contains tests for properties.border-spacing
No description provided

properties.border-spacing

See: https://developer.mozilla.org/docs/Web/CSS/border-spacing

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-spacing: 0
*/
