/*

This file contains tests for properties.border-right
No description provided

properties.border-right

See: https://developer.mozilla.org/docs/Web/CSS/border-right

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-right: 0
*/
