/*

This file contains tests for properties.bottom
No description provided

properties.bottom

See: https://developer.mozilla.org/docs/Web/CSS/bottom

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.bottom: 0
*/
