/*

This file contains tests for properties.box-direction
No description provided

properties.box-direction

See: https://developer.mozilla.org/docs/Web/CSS/box-direction

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.box-direction: 0
*/
