/*

This file contains tests for properties.box-orient
No description provided

properties.box-orient

See: https://developer.mozilla.org/docs/Web/CSS/box-orient

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.box-orient: 0
*/
