/*

This file contains tests for properties.box-flex-group
No description provided

properties.box-flex-group

See: https://developer.mozilla.org/docs/Web/CSS/box-flex-group

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.box-flex-group: 0
*/
