/*

This file contains tests for properties.color-adjust
No description provided

properties.color-adjust

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.color-adjust: 0
*/
