/*

This file contains tests for properties.color
No description provided

properties.color

See: https://developer.mozilla.org/docs/Web/CSS/color

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.color: 0
*/
