/*

This file contains tests for properties.column-rule-width
No description provided

properties.column-rule-width

See: https://developer.mozilla.org/docs/Web/CSS/column-rule-width

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.column-rule-width: 0
*/
