/*

This file contains tests for properties.columns
No description provided

properties.columns

See: https://developer.mozilla.org/docs/Web/CSS/columns

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.columns: 0
*/
