/*

This file contains tests for properties.container-name
No description provided

properties.container-name

See: https://developer.mozilla.org/docs/Web/CSS/container-name

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.container-name: 0
*/
