/*

This file contains tests for properties.counter-increment
No description provided

properties.counter-increment

See: https://developer.mozilla.org/docs/Web/CSS/counter-increment

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.counter-increment: 0
*/
