/*

This file contains tests for properties.counter-set
No description provided

properties.counter-set

See: https://developer.mozilla.org/docs/Web/CSS/counter-set

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.counter-set: 0
*/
