/*

This file contains tests for properties.fill-rule
No description provided

properties.fill-rule

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.fill-rule: 0
*/
