/*

This file contains tests for properties.flex-shrink
No description provided

properties.flex-shrink

See: https://developer.mozilla.org/docs/Web/CSS/flex-shrink

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.flex-shrink: 0
*/
