/*

This file contains tests for properties.flood-color
No description provided

properties.flood-color

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.flood-color: 0
*/
