/*

This file contains tests for properties.font-language-override
No description provided

properties.font-language-override

See: https://developer.mozilla.org/docs/Web/CSS/font-language-override

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-language-override: 0
*/
