/*

This file contains tests for properties.font-variant-east-asian
No description provided

properties.font-variant-east-asian

See: https://developer.mozilla.org/docs/Web/CSS/font-variant-east-asian

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-variant-east-asian: 0
*/
