/*

This file contains tests for properties.font-feature-settings
No description provided

properties.font-feature-settings

See: https://developer.mozilla.org/docs/Web/CSS/font-feature-settings

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-feature-settings: 0
*/
