/*

This file contains tests for properties.font-synthesis-small-caps
No description provided

properties.font-synthesis-small-caps

See: https://developer.mozilla.org/docs/Web/CSS/font-synthesis-small-caps

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-synthesis-small-caps: 0
*/
