/*

This file contains tests for properties.font-variant-ligatures
No description provided

properties.font-variant-ligatures

See: https://developer.mozilla.org/docs/Web/CSS/font-variant-ligatures

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-variant-ligatures: 0
*/
