/*

This file contains tests for properties.forced-color-adjust
No description provided

properties.forced-color-adjust

See: https://developer.mozilla.org/docs/Web/CSS/forced-color-adjust

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.forced-color-adjust: 0
*/
