/*

This file contains tests for properties.glyph-orientation-vertical
No description provided

properties.glyph-orientation-vertical

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.glyph-orientation-vertical: 0
*/
