/*

This file contains tests for properties.grid-column-start
No description provided

properties.grid-column-start

See: https://developer.mozilla.org/docs/Web/CSS/grid-column-start

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.grid-column-start: 0
*/
