/*

This file contains tests for properties.grid-column-end
No description provided

properties.grid-column-end

See: https://developer.mozilla.org/docs/Web/CSS/grid-column-end

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.grid-column-end: 0
*/
