/*

This file contains tests for properties.hanging-punctuation
No description provided

properties.hanging-punctuation

See: https://developer.mozilla.org/docs/Web/CSS/hanging-punctuation

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hanging-punctuation: 0
*/
