/*

This file contains tests for properties.initial-letter
No description provided

properties.initial-letter

See: https://developer.mozilla.org/docs/Web/CSS/initial-letter

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.initial-letter: 0
*/
