/*

This file contains tests for properties.inset-block-end
No description provided

properties.inset-block-end

See: https://developer.mozilla.org/docs/Web/CSS/inset-block-end

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.inset-block-end: 0
*/
