/*

This file contains tests for properties.inset-inline-start
No description provided

properties.inset-inline-start

See: https://developer.mozilla.org/docs/Web/CSS/inset-inline-start

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.inset-inline-start: 0
*/
