/*

This file contains tests for properties.isolation
No description provided

properties.isolation

See: https://developer.mozilla.org/docs/Web/CSS/isolation

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.isolation: 0
*/
