/*

This file contains tests for properties.lighting-color
No description provided

properties.lighting-color

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.lighting-color: 0
*/
