/*

This file contains tests for properties.line-break
No description provided

properties.line-break

See: https://developer.mozilla.org/docs/Web/CSS/line-break

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.line-break: 0
*/
