/*

This file contains tests for properties.margin-inline-start
No description provided

properties.margin-inline-start

See: https://developer.mozilla.org/docs/Web/CSS/margin-inline-start

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.margin-inline-start: 0
*/
