/*

This file contains tests for properties.margin-trim
No description provided

properties.margin-trim

See: https://developer.mozilla.org/docs/Web/CSS/margin-trim

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.margin-trim: 0
*/
