/*

This file contains tests for properties.mask-border
No description provided

properties.mask-border

See: https://developer.mozilla.org/docs/Web/CSS/mask-border

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.mask-border: 0
*/
