/*

This file contains tests for properties.mask-type
No description provided

properties.mask-type

See: https://developer.mozilla.org/docs/Web/CSS/mask-type

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.mask-type: 0
*/
