/*

This file contains tests for properties.mask-size
No description provided

properties.mask-size

See: https://developer.mozilla.org/docs/Web/CSS/mask-size

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.mask-size: 0
*/
