/*

This file contains tests for properties.mask-repeat
No description provided

properties.mask-repeat

See: https://developer.mozilla.org/docs/Web/CSS/mask-repeat

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.mask-repeat: 0
*/
