/*

This file contains tests for properties.masonry-auto-flow
No description provided

properties.masonry-auto-flow

See: https://developer.mozilla.org/docs/Web/CSS/masonry-auto-flow

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.masonry-auto-flow: 0
*/
