/*

This file contains tests for properties.math-depth
No description provided

properties.math-depth

See: https://developer.mozilla.org/docs/Web/CSS/math-depth

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.math-depth: 0
*/
