/*

This file contains tests for properties.math-shift
No description provided

properties.math-shift

See: https://developer.mozilla.org/docs/Web/CSS/math-shift

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.math-shift: 0
*/
