/*

This file contains tests for properties.object-position
No description provided

properties.object-position

See: https://developer.mozilla.org/docs/Web/CSS/object-position

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.object-position: 0
*/
