/*

This file contains tests for properties.object-view-box
No description provided

properties.object-view-box

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.object-view-box: 0
*/
