/*

This file contains tests for properties.offset-rotate
No description provided

properties.offset-rotate

See: https://developer.mozilla.org/docs/Web/CSS/offset-rotate

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.offset-rotate: 0
*/
