/*

This file contains tests for properties.order
No description provided

properties.order

See: https://developer.mozilla.org/docs/Web/CSS/order

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.order: 0
*/
