/*

This file contains tests for properties.overscroll-behavior-x
No description provided

properties.overscroll-behavior-x

See: https://developer.mozilla.org/docs/Web/CSS/overscroll-behavior-x

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.overscroll-behavior-x: 0
*/
