/*

This file contains tests for properties.overlay
No description provided

properties.overlay

See: https://developer.mozilla.org/docs/Web/CSS/overlay

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.overlay: 0
*/
