/*

This file contains tests for properties.overflow-anchor
No description provided

properties.overflow-anchor

See: https://developer.mozilla.org/docs/Web/CSS/overflow-anchor

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.overflow-anchor: 0
*/
