/*

This file contains tests for properties.overscroll-behavior
No description provided

properties.overscroll-behavior

See: https://developer.mozilla.org/docs/Web/CSS/overscroll-behavior

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.overscroll-behavior: 0
*/
