/*

This file contains tests for properties.overflow-inline
No description provided

properties.overflow-inline

See: https://developer.mozilla.org/docs/Web/CSS/overflow-inline

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.overflow-inline: 0
*/
