/*

This file contains tests for properties.perspective
No description provided

properties.perspective

See: https://developer.mozilla.org/docs/Web/CSS/perspective

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.perspective: 0
*/
