/*

This file contains tests for properties.perspective-origin
No description provided

properties.perspective-origin

See: https://developer.mozilla.org/docs/Web/CSS/perspective-origin

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.perspective-origin: 0
*/
