/*

This file contains tests for properties.right
No description provided

properties.right

See: https://developer.mozilla.org/docs/Web/CSS/right

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.right: 0
*/
