/*

This file contains tests for properties.scroll-padding-right
No description provided

properties.scroll-padding-right

See: https://developer.mozilla.org/docs/Web/CSS/scroll-padding-right

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.scroll-padding-right: 0
*/
