/*

This file contains tests for properties.scrollbar-darkshadow-color
No description provided

properties.scrollbar-darkshadow-color

See: https://developer.mozilla.org/docs/Web/CSS/scrollbar-darkshadow-color

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.scrollbar-darkshadow-color: 0
*/
