/*

This file contains tests for properties.scrollbar-3dlight-color
No description provided

properties.scrollbar-3dlight-color

See: https://developer.mozilla.org/docs/Web/CSS/scrollbar-3dlight-color

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.scrollbar-3dlight-color: 0
*/
