/*

This file contains tests for properties.scroll-snap-align
No description provided

properties.scroll-snap-align

See: https://developer.mozilla.org/docs/Web/CSS/scroll-snap-align

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.scroll-snap-align: 0
*/
