/*

This file contains tests for properties.scroll-timeline-name
No description provided

properties.scroll-timeline-name

See: https://developer.mozilla.org/docs/Web/CSS/scroll-timeline-name

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.scroll-timeline-name: 0
*/
