/*

This file contains tests for properties.scroll-margin-block
No description provided

properties.scroll-margin-block

See: https://developer.mozilla.org/docs/Web/CSS/scroll-margin-block

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.scroll-margin-block: 0
*/
