/*

This file contains tests for properties.shape-margin
No description provided

properties.shape-margin

See: https://developer.mozilla.org/docs/Web/CSS/shape-margin

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.shape-margin: 0
*/
