/*

This file contains tests for properties.stroke-linejoin
No description provided

properties.stroke-linejoin

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.stroke-linejoin: 0
*/
