/*

This file contains tests for properties.stroke-dashoffset
No description provided

properties.stroke-dashoffset

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.stroke-dashoffset: 0
*/
