/*

This file contains tests for properties.stroke-linecap
No description provided

properties.stroke-linecap

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.stroke-linecap: 0
*/
