/*

This file contains tests for properties.table-layout
No description provided

properties.table-layout

See: https://developer.mozilla.org/docs/Web/CSS/table-layout

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.table-layout: 0
*/
