/*

This file contains tests for properties.text-anchor
No description provided

properties.text-anchor

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-anchor: 0
*/
