/*

This file contains tests for properties.timeline-scope
No description provided

properties.timeline-scope

See: https://developer.mozilla.org/docs/Web/CSS/timeline-scope

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.timeline-scope: 0
*/
