/*

This file contains tests for properties.transition-duration
No description provided

properties.transition-duration

See: https://developer.mozilla.org/docs/Web/CSS/transition-duration

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.transition-duration: 0
*/
