/*

This file contains tests for properties.vector-effect
No description provided

properties.vector-effect

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.vector-effect: 0
*/
