/*

This file contains tests for properties.vertical-align
No description provided

properties.vertical-align

See: https://developer.mozilla.org/docs/Web/CSS/vertical-align

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.vertical-align: 0
*/
