/*

This file contains tests for properties.view-timeline
No description provided

properties.view-timeline

See: https://developer.mozilla.org/docs/Web/CSS/view-timeline

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.view-timeline: 0
*/
