/*

This file contains tests for properties.white-space-collapse
No description provided

properties.white-space-collapse

See: https://developer.mozilla.org/docs/Web/CSS/white-space-collapse

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.white-space-collapse: 0
*/
