/*

This file contains tests for properties.will-change
No description provided

properties.will-change

See: https://developer.mozilla.org/docs/Web/CSS/will-change

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.will-change: 0
*/
