/*

This file contains tests for properties.word-wrap
No description provided

properties.word-wrap

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.word-wrap: 0
*/
