/*

This file contains tests for properties.x
No description provided

properties.x

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.x: 0
*/
