/*

This file contains tests for properties.hyphens.language_marathi
Hyphenation dictionary for Marathi (mr, mr-*)

properties.hyphens.language_marathi

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_marathi: 0
*/
