/*

This file contains tests for properties.hyphens.language_irish
Hyphenation dictionary for Irish (ga, ga-*)

properties.hyphens.language_irish

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_irish: 0
*/
