/*

This file contains tests for properties.hyphens.language_polish
Hyphenation dictionary for Polish (pl, pl-*)

properties.hyphens.language_polish

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_polish: 0
*/
