/*

This file contains tests for properties.hyphens.language_cyrillic_mongolian
Hyphenation dictionary for Mongolian (Cyrillic) (mn-cyrl, mn-cyrl-*)

properties.hyphens.language_cyrillic_mongolian

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_cyrillic_mongolian: 0
*/
