/*

This file contains tests for properties.hyphens.language_interlingua
Hyphenation dictionary for Interlingua (ia, ia-*)

properties.hyphens.language_interlingua

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_interlingua: 0
*/
