/*

This file contains tests for properties.hyphens.language_punjabi
Hyphenation dictionary for Punjabi/Panjabi (pa, pa-*)

properties.hyphens.language_punjabi

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_punjabi: 0
*/
