/*

This file contains tests for properties.hyphens.language_czech
Hyphenation dictionary for Czech (cs, cs-*)

properties.hyphens.language_czech

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_czech: 0
*/
