/*

This file contains tests for properties.hyphens.language_telugu
Hyphenation dictionary for Telugu (te, te-*)

properties.hyphens.language_telugu

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_telugu: 0
*/
