/*

This file contains tests for properties.hyphens.language_old_slavonic
Hyphenation dictionary for Old Slavonic (cu, cu-*)

properties.hyphens.language_old_slavonic

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_old_slavonic: 0
*/
