/*

This file contains tests for properties.hyphens.language_ethiopic_script_und
Hyphenation dictionary for Ethiopic script (und-ethi, und-ethi-*)

properties.hyphens.language_ethiopic_script_und

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_ethiopic_script_und: 0
*/
