/*

This file contains tests for properties.hyphens.language_armenian
Hyphenation dictionary for Armenian (hy, hy-*)

properties.hyphens.language_armenian

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_armenian: 0
*/
