/*

This file contains tests for properties.hyphens.language_norwegian_nn
Hyphenation dictionary for Norwegian (Nynorsk) (nn, nn-*)

properties.hyphens.language_norwegian_nn

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_norwegian_nn: 0
*/
