/*

This file contains tests for properties.hyphens.language_tamil
Hyphenation dictionary for Tamil (ta, ta-*)

properties.hyphens.language_tamil

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_tamil: 0
*/
