/*

This file contains tests for properties.hyphens.language_hindi
Hyphenation dictionary for Hindi (hi, hi-*)

properties.hyphens.language_hindi

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_hindi: 0
*/
