/*

This file contains tests for properties.hyphens.language_kannada
Hyphenation dictionary for Kannada (kn, kn-*)

properties.hyphens.language_kannada

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_kannada: 0
*/
