/*

This file contains tests for properties.hyphens.language_ethiopic_script_mul
Hyphenation dictionary for Ethiopic script (mul-ethi, mul-ethi-*)

properties.hyphens.language_ethiopic_script_mul

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_ethiopic_script_mul: 0
*/
