/*

This file contains tests for properties.hyphens.language_finnish
Hyphenation dictionary for Finnish (fi, fi-*)

properties.hyphens.language_finnish

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.hyphens.language_finnish: 0
*/
