/*

This file contains tests for types.color.rgb_hexadecimal_notation.alpha_hexadecimal_notation
RGBA hexadecimal notation (<code>#RRGGBBAA</code>, <code>#RGBA</code>)

types.color.rgb_hexadecimal_notation.alpha_hexadecimal_notation

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.rgb_hexadecimal_notation.alpha_hexadecimal_notation: 0
*/
