/*

This file contains tests for properties.background-clip.text
<code>text</code>

properties.background-clip.text

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-clip.text: 0
*/
