/*

This file contains tests for types.image.cross-fade
<code>cross-fade()</code>

types.image.cross-fade

See: https://developer.mozilla.org/docs/Web/CSS/cross-fade

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.image.cross-fade: 0
*/
