/*

This file contains tests for types.image.element
<code>element()</code>

types.image.element

See: https://developer.mozilla.org/docs/Web/CSS/element

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.image.element: 0
*/
