/*

This file contains tests for types.image.image
<code>image()</code>

types.image.image

See: https://developer.mozilla.org/docs/Web/CSS/image/image

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.image.image: 0
*/
