/*

This file contains tests for types.image
<code>&lt;image&gt;</code>

types.image

See: https://developer.mozilla.org/docs/Web/CSS/image

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.image: 0
*/
