/*

This file contains tests for properties.overflow-x.overlay
<code>overlay</code> value

properties.overflow-x.overlay

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.overflow-x.overlay: 0
*/
