/*

This file contains tests for properties.column-gap
No description provided

properties.column-gap

See: https://developer.mozilla.org/docs/Web/CSS/column-gap

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.column-gap: 0
*/
