/*

This file contains tests for types.color.oklab
<code>oklab()</code> (Oklab color model)

types.color.oklab

See: https://developer.mozilla.org/docs/Web/CSS/color_value/oklab

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.oklab: 0
*/
