/*

This file contains tests for types.color.system-color.accentcolor_accentcolortext
<code>AccentColor</code> and <code>AccentColorText</code>

types.color.system-color.accentcolor_accentcolortext

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.system-color.accentcolor_accentcolortext: 0
*/
