/*

This file contains tests for at-rules.document
<code>@document</code>

at-rules.document

See: https://developer.mozilla.org/docs/Web/CSS/@document

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.document: 0
*/
