/*

This file contains tests for properties.letter-spacing
No description provided

properties.letter-spacing

See: https://developer.mozilla.org/docs/Web/CSS/letter-spacing

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.letter-spacing: 0
*/
