/*

This file contains tests for selectors.cue
<code>::cue</code>

selectors.cue

See: https://developer.mozilla.org/docs/Web/CSS/::cue

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.cue: 0
*/
