/*

This file contains tests for selectors.cue.selector_argument
<code>::cue(&lt;selector&gt;)</code>

selectors.cue.selector_argument

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.cue.selector_argument: 0
*/
