/*

This file contains tests for properties.writing-mode.horizontal_vertical_values
<code>horizontal-tb</code>, <code>vertical-lr</code>, and <code>vertical-rl</code>

properties.writing-mode.horizontal_vertical_values

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.writing-mode.horizontal_vertical_values: 0
*/
