/*

This file contains tests for properties.writing-mode.sideways_values
<code>sideways-lr</code> and <code>sideways-rl</code>

properties.writing-mode.sideways_values

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.writing-mode.sideways_values: 0
*/
