/*

This file contains tests for properties.background-attachment.fixed
<code>fixed</code>

properties.background-attachment.fixed

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-attachment.fixed: 0
*/
