/*

This file contains tests for properties.background-attachment
No description provided

properties.background-attachment

See: https://developer.mozilla.org/docs/Web/CSS/background-attachment

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-attachment: 0
*/
