/*

This file contains tests for properties.font.font_stretch_support
Support for <code>font-stretch</code> values in shorthand

properties.font.font_stretch_support

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font.font_stretch_support: 0
*/
