/*

This file contains tests for properties.font-family.system-ui
<code>system-ui</code>

properties.font-family.system-ui

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-family.system-ui: 0
*/
