/*

This file contains tests for at-rules.import.layer
<code>layer(&lt;layer-name&gt;)</code>

at-rules.import.layer

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.import.layer: 0
*/
