/*

This file contains tests for properties.background-image.element
<code>element()</code>

properties.background-image.element

See: https://developer.mozilla.org/docs/Web/CSS/element()

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-image.element: 0
*/
