/*

This file contains tests for properties.background-image.gradients
Gradients

properties.background-image.gradients

See: https://developer.mozilla.org/docs/Web/CSS/gradient

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-image.gradients: 0
*/
