/*

This file contains tests for properties.rotate.x_y_z_angle
x, y, or z axis name plus angle value

properties.rotate.x_y_z_angle

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.rotate.x_y_z_angle: 0
*/
