/*

This file contains tests for at-rules.font-face.font-stretch
No description provided

at-rules.font-face.font-stretch

See: https://developer.mozilla.org/docs/Web/CSS/@font-face/font-stretch

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.font-face.font-stretch: 0
*/
