/*

This file contains tests for at-rules.font-face.OpenType_SBIX
OpenType SBIX rendering

at-rules.font-face.OpenType_SBIX

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.font-face.OpenType_SBIX: 0
*/
