/*

This file contains tests for at-rules.font-face.size-adjust
No description provided

at-rules.font-face.size-adjust

See: https://developer.mozilla.org/docs/Web/CSS/@font-face/size-adjust

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.font-face.size-adjust: 0
*/
