/*

This file contains tests for at-rules.font-face.SVG_fonts
SVG fonts

at-rules.font-face.SVG_fonts

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.font-face.SVG_fonts: 0
*/
