/*

This file contains tests for properties.text-overflow
No description provided

properties.text-overflow

See: https://developer.mozilla.org/docs/Web/CSS/text-overflow

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-overflow: 0
*/
