/*

This file contains tests for properties.text-overflow.string
&lt;string&gt;

properties.text-overflow.string

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-overflow.string: 0
*/
