/*

This file contains tests for properties.text-overflow.two_value_syntax
Two-value syntax

properties.text-overflow.two_value_syntax

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-overflow.two_value_syntax: 0
*/
