/*

This file contains tests for selectors.fullscreen.all_elements
Select all elements in the fullscreen stack

selectors.fullscreen.all_elements

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.fullscreen.all_elements: 0
*/
