/*

This file contains tests for selectors.fullscreen
<code>:fullscreen</code>

selectors.fullscreen

See: https://developer.mozilla.org/docs/Web/CSS/:fullscreen

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.fullscreen: 0
*/
