/*

This file contains tests for selectors.not.selector_list
Selector list argument

selectors.not.selector_list

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.not.selector_list: 0
*/
