/*

This file contains tests for properties.font-variant.historical-forms
No description provided

properties.font-variant.historical-forms

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-variant.historical-forms: 0
*/
