/*

This file contains tests for properties.font-variant.turkic_is
<code>i</code> → <code>İ</code> and <code>ı</code> → <code>I</code>

properties.font-variant.turkic_is

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-variant.turkic_is: 0
*/
