/*

This file contains tests for properties.border-radius.4_values_for_4_corners
4 values for 4 corners

properties.border-radius.4_values_for_4_corners

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-radius.4_values_for_4_corners: 0
*/
