/*

This file contains tests for properties.border-radius.elliptical_borders
Elliptical borders

properties.border-radius.elliptical_borders

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-radius.elliptical_borders: 0
*/
