/*

This file contains tests for properties.animation-direction.alternate-reverse
<code>alternate-reverse</code>

properties.animation-direction.alternate-reverse

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation-direction.alternate-reverse: 0
*/
