/*

This file contains tests for properties.animation-direction.reverse
<code>reverse</code>

properties.animation-direction.reverse

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.animation-direction.reverse: 0
*/
