/*

This file contains tests for properties.background-repeat.2-value
Two-value syntax (different values for x &amp; y directions)

properties.background-repeat.2-value

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-repeat.2-value: 0
*/
