/*

This file contains tests for properties.background-repeat
No description provided

properties.background-repeat

See: https://developer.mozilla.org/docs/Web/CSS/background-repeat

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.background-repeat: 0
*/
