/*

This file contains tests for types.calc-constant
&lt;calc-constant&gt;

types.calc-constant

See: https://developer.mozilla.org/docs/Web/CSS/calc-constant

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.calc-constant: 0
*/
