/*

This file contains tests for types.calc-constant.pi
<code>pi</code> constant

types.calc-constant.pi

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.calc-constant.pi: 0
*/
