/*

This file contains tests for types.frequency.hz
<code>Hz</code> unit

types.frequency.hz

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.frequency.hz: 0
*/
