/*

This file contains tests for types.frequency.khz
<code>kHz</code> unit

types.frequency.khz

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.frequency.khz: 0
*/
