/*

This file contains tests for properties.counter-reset.reset_does_not_affect_siblings
Resets counter on current element (not sibling elements).

properties.counter-reset.reset_does_not_affect_siblings

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.counter-reset.reset_does_not_affect_siblings: 0
*/
