/*

This file contains tests for properties.break-before.paged_context.page
<code>page</code> and <code>avoid-page</code>

properties.break-before.paged_context.page

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.break-before.paged_context.page: 0
*/
