/*

This file contains tests for properties.text-decoration-thickness.percentage
percentage values

properties.text-decoration-thickness.percentage

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.text-decoration-thickness.percentage: 0
*/
