/*

This file contains tests for selectors.last-child
<code>:last-child</code>

selectors.last-child

See: https://developer.mozilla.org/docs/Web/CSS/:last-child

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.last-child: 0
*/
