/*

This file contains tests for properties.transition.gradients
Gradients

properties.transition.gradients

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.transition.gradients: 0
*/
