/*

This file contains tests for properties.transition.transition_behavior_value
<code>transition-behavior</code> value

properties.transition.transition_behavior_value

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.transition.transition_behavior_value: 0
*/
