/* AUTO_GENERATED: true */

/* 
feature: properties.align-content.flex_context.baseline
No description provided

see: https://developer.mozilla.org/docs/Web/CSS/align-content
*/

/* sample that triggers the feature */
align-content: baseline;

/* sample that does not trigger the feature */
align-content: center;