/* AUTO_GENERATED: true */

/* 
feature: properties.align-content.flex_context.start_end
<code>start</code> and <code>end</code>

see: https://developer.mozilla.org/docs/Web/CSS/align-content
*/

/* sample that triggers the feature */
align-content: flex-start;

/* sample that does not trigger the feature */
align-content: center;