/*

This file contains tests for properties.border-image.fill
No description provided

properties.border-image.fill

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-image.fill: 0
*/
