/*

This file contains tests for properties.border-image.gradient
<code>&lt;gradient&gt;</code>

properties.border-image.gradient

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-image.gradient: 0
*/
