/*

This file contains tests for properties.border-image
No description provided

properties.border-image

See: https://developer.mozilla.org/docs/Web/CSS/border-image

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-image: 0
*/
