/*

This file contains tests for properties.border-image.optional_border_image_slice
optional <code>&lt;border-image-slice&gt;</code>

properties.border-image.optional_border_image_slice

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-image.optional_border_image_slice: 0
*/
