/*

This file contains tests for properties.border-top-right-radius
No description provided

properties.border-top-right-radius

See: https://developer.mozilla.org/docs/Web/CSS/border-top-right-radius

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.border-top-right-radius: 0
*/
