/*

This file contains tests for properties.touch-action.double-tap-zoom
No description provided

properties.touch-action.double-tap-zoom

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.touch-action.double-tap-zoom: 0
*/
