/*

This file contains tests for properties.touch-action.manipulation
No description provided

properties.touch-action.manipulation

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.touch-action.manipulation: 0
*/
