/*

This file contains tests for properties.touch-action.unidirectional-pan
<code>pan-up</code>, <code>pan-down</code>, <code>pan-left</code> and <code>pan-right</code>

properties.touch-action.unidirectional-pan

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.touch-action.unidirectional-pan: 0
*/
