/*

This file contains tests for properties.color-scheme.only_light
<code>only light</code> keyword

properties.color-scheme.only_light

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.color-scheme.only_light: 0
*/
