/*

This file contains tests for properties.font-weight
No description provided

properties.font-weight

See: https://developer.mozilla.org/docs/Web/CSS/font-weight

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-weight: 0
*/
