/*

This file contains tests for properties.font-weight.number
<code>&lt;number&gt;</code> syntax

properties.font-weight.number

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-weight.number: 0
*/
