/* AUTO_GENERATED: true */

/* 
feature: properties.animation-name.none
No description provided

see: https://developer.mozilla.org/docs/Web/CSS/animation-name
*/

/* sample that triggers the feature */
animation-name: none;

/* sample that does not trigger the feature */
animation-name: slide-in;