/*

This file contains tests for properties.cursor.cell
<code>cell</code>

properties.cursor.cell

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.cursor.cell: 0
*/
