/*

This file contains tests for properties.cursor.col-resize
<code>col-resize</code>

properties.cursor.col-resize

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.cursor.col-resize: 0
*/
