/*

This file contains tests for properties.cursor
No description provided

properties.cursor

See: https://developer.mozilla.org/docs/Web/CSS/cursor

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.cursor: 0
*/
