/*

This file contains tests for properties.cursor.no-drop
<code>no-drop</code>

properties.cursor.no-drop

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.cursor.no-drop: 0
*/
