/*

This file contains tests for properties.cursor.url_positioning_syntax
<code>url()</code> positioning syntax

properties.cursor.url_positioning_syntax

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.cursor.url_positioning_syntax: 0
*/
