/*

This file contains tests for properties.cursor.vertical-text
<code>vertical-text</code>

properties.cursor.vertical-text

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.cursor.vertical-text: 0
*/
