/*

This file contains tests for properties.cursor.wait
<code>wait</code>

properties.cursor.wait

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.cursor.wait: 0
*/
