/*

This file contains tests for properties.cursor.zoom
Zoom cursors (<code>zoom-in</code> and <code>zoom-out</code>)

properties.cursor.zoom

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.cursor.zoom: 0
*/
