/*

This file contains tests for properties.grid-template-columns.fit-content
<code>fit-content()</code>

properties.grid-template-columns.fit-content

See: https://developer.mozilla.org/docs/Web/CSS/fit-content

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.grid-template-columns.fit-content: 0
*/
