/*

This file contains tests for properties.grid-template-columns
No description provided

properties.grid-template-columns

See: https://developer.mozilla.org/docs/Web/CSS/grid-template-columns

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.grid-template-columns: 0
*/
