/*

This file contains tests for properties.grid-template-columns.masonry
<code>masonry</code>

properties.grid-template-columns.masonry

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.grid-template-columns.masonry: 0
*/
