/*

This file contains tests for types.angle.grad
No description provided

types.angle.grad

See: https://developer.mozilla.org/docs/Web/CSS/angle#grad

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.angle.grad: 0
*/
