/*

This file contains tests for types.angle
<code>&lt;angle&gt;</code>

types.angle

See: https://developer.mozilla.org/docs/Web/CSS/angle

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.angle: 0
*/
