/*

This file contains tests for properties.clear.flow_relative_values
Flow-relative values <code>inline-start</code> and <code>inline-end</code>

properties.clear.flow_relative_values

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.clear.flow_relative_values: 0
*/
