/*

This file contains tests for properties.font-style.oblique-angle
<code>oblique</code> can accept an <code>&lt;angle&gt;</code>

properties.font-style.oblique-angle

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.font-style.oblique-angle: 0
*/
