/*

This file contains tests for properties.offset-position
No description provided

properties.offset-position

See: https://developer.mozilla.org/docs/Web/CSS/offset-position

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.offset-position: 0
*/
