/*

This file contains tests for properties.offset-position.normal
<code>normal</code> keyword value

properties.offset-position.normal

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.offset-position.normal: 0
*/
