/*

This file contains tests for at-rules.font-feature-values.swash
<code>@swash</code>

at-rules.font-feature-values.swash

See: https://developer.mozilla.org/docs/Web/CSS/@font-feature-values#swash

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.font-feature-values.swash: 0
*/
