/*

This file contains tests for at-rules.page
<code>@page</code>

at-rules.page

See: https://developer.mozilla.org/docs/Web/CSS/@page

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.page: 0
*/
