/*

This file contains tests for at-rules.page.page-orientation
<code>page-orientation</code> descriptor

at-rules.page.page-orientation

See: https://developer.mozilla.org/docs/Web/CSS/@page/page-orientation

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
at-rules.page.page-orientation: 0
*/
