/*

This file contains tests for selectors.indeterminate.checkbox
Applies to <code>&lt;input type=&quot;checkbox&quot;&gt;</code> elements

selectors.indeterminate.checkbox

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.indeterminate.checkbox: 0
*/
