/*

This file contains tests for selectors.indeterminate.progress
Applies to <code>&lt;progress&gt;</code> elements

selectors.indeterminate.progress

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.indeterminate.progress: 0
*/
