/*

This file contains tests for selectors.indeterminate.radio
Applies to <code>&lt;input type=&quot;radio&quot;&gt;</code> elements

selectors.indeterminate.radio

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.indeterminate.radio: 0
*/
