/*

This file contains tests for selectors.only-child
<code>:only-child</code>

selectors.only-child

See: https://developer.mozilla.org/docs/Web/CSS/:only-child

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.only-child: 0
*/
