/*

This file contains tests for selectors.only-child.no_parent_required
Matches elements with no parent

selectors.only-child.no_parent_required

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
selectors.only-child.no_parent_required: 0
*/
