/*

This file contains tests for properties.shape-outside.inset
<code>inset()</code>

properties.shape-outside.inset

See: https://developer.mozilla.org/docs/Web/CSS/basic-shape#inset()

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.shape-outside.inset: 0
*/
