/*

This file contains tests for properties.shape-outside.path
<code>path()</code>

properties.shape-outside.path

See: https://developer.mozilla.org/docs/Web/CSS/path

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.shape-outside.path: 0
*/
