/*

This file contains tests for properties.appearance.auto
No description provided

properties.appearance.auto

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.appearance.auto: 0
*/
