/*

This file contains tests for properties.appearance.none
No description provided

properties.appearance.none

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.appearance.none: 0
*/
