/*

This file contains tests for properties.appearance.textfield
No description provided

properties.appearance.textfield

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.appearance.textfield: 0
*/
