/*

This file contains tests for properties.flex-basis.auto
<code>auto</code>

properties.flex-basis.auto

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.flex-basis.auto: 0
*/
