/*

This file contains tests for properties.flex-basis.content
<code>content</code>

properties.flex-basis.content

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.flex-basis.content: 0
*/
