/*

This file contains tests for properties.flex-basis.max-content
No description provided

properties.flex-basis.max-content

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.flex-basis.max-content: 0
*/
