/*

This file contains tests for types.color.hwb
<code>hwb()</code> (HWB color model)

types.color.hwb

See: https://developer.mozilla.org/docs/Web/CSS/color_value/hwb

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.hwb: 0
*/
