/*

This file contains tests for types.color.hwb.relative_syntax
Relative HWB colors

types.color.hwb.relative_syntax

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.color.hwb.relative_syntax: 0
*/
