/*

This file contains tests for properties.-moz-user-input.disabled
No description provided

properties.-moz-user-input.disabled

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.-moz-user-input.disabled: 0
*/
