/*

This file contains tests for properties.image-rendering
No description provided

properties.image-rendering

See: https://developer.mozilla.org/docs/Web/CSS/image-rendering

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.image-rendering: 0
*/
