/*

This file contains tests for properties.image-rendering.optimizeSpeed
No description provided

properties.image-rendering.optimizeSpeed

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.image-rendering.optimizeSpeed: 0
*/
