/*

This file contains tests for properties.visibility.collapse
<code>collapse</code>

properties.visibility.collapse

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.visibility.collapse: 0
*/
