/*

This file contains tests for properties.visibility
No description provided

properties.visibility

See: https://developer.mozilla.org/docs/Web/CSS/visibility

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.visibility: 0
*/
