/*

This file contains tests for properties.inline-size
No description provided

properties.inline-size

See: https://developer.mozilla.org/docs/Web/CSS/inline-size

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.inline-size: 0
*/
