/*

This file contains tests for properties.margin-left.auto
<code>auto</code>

properties.margin-left.auto

See: no link provided

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
properties.margin-left.auto: 0
*/
