/*

This file contains tests for types.image.gradient.radial-gradient
<code>radial-gradient()</code>

types.image.gradient.radial-gradient

See: https://developer.mozilla.org/docs/Web/CSS/gradient/radial-gradient

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
types.image.gradient.radial-gradient: 0
*/
